[2014-08-18 21:11] chrismccord opened #1 "Add deployment guide"
@slogsdon We're steel feeling out the format of the guides, but a simple `deployment.md` will work until we're further along. Thanks very much!

[2014-08-25 15:14] #1 closed, assigned to nobody

[2014-08-25 17:25] lancehalvorsen opened #4 "Complete Routing Guide"
Complete the last two sections of the  routing guide - scoped routes and channel routes.

[2014-08-25 17:30] lancehalvorsen opened #5 "Add Controllers Guides"
We already have a placeholder file for this: D_controllers.md with the barest minimum of an outline. Feel free to work with that or add items as you see fit.

[2014-08-25 17:32] lancehalvorsen opened #6 "Add Views Guide"
We already have a placeholder file with a minimal outline - E_views.md. Feel free to work with that outline or add topics as you see fit.

[2014-08-25 17:33] lancehalvorsen opened #7 "Add Templates Guide"
We already have a placeholder file with a minimal outline - F_templates.md. Feel free to work with that outline or add topics as you see fit.

[2014-08-25 18:15] lancehalvorsen opened #8 "Add Channels Guide"
We already have a placeholder file with a minimal outline - channels.md. Feel free to work with that outline or add topics as you see fit.

[2014-08-25 18:16] lancehalvorsen opened #9 "Add Sockets Guide"
We already have a placeholder file with a minimal outline - sockets.md. Feel free to work with that outline or add topics as you see fit.

It might be the case that adding the channels and/or topics guides under sockets might make sense - or maybe not at all.

[2014-08-25 18:18] lancehalvorsen opened #10 "Remove Topics Guide"
We already have a placeholder file with a minimal outline - topics.md. Feel free to work with that outline or add topics as you see fit.

It might be the case that this would fit under the sockets guide - or not. Worth thinking about while writing.

[2014-08-25 21:42] lancehalvorsen opened #11 "Help Page Outdated. Necessary?"
I started the help page when the Phoenix README still required Elixir 0.14.2 and many had already moved on to 0.15.0. That is now stale information and should be deleted.

The question is, do we still need this help page at all? Should we leave it in as "Coming Soon" until we get more data from users on what their pain points are? Something else entirely?

[2014-08-25 21:49] lancehalvorsen opened #12 "Add Mix Tasks Guide"
Originally, I had thought that a page adding more detailed explanations of the tasks might be necessary, but I'm not sure this is necessary now. The routing guide covers the phoenix.routes task pretty thoroughly, and the readme talks about phoenix.new.

I vote for killing this page for now. Anybody else?

[2014-08-25 21:52] lancehalvorsen opened #13 "Complete Resources Guide"
There are a number of selected learning resources in the resources.md file. We could use just a few more in the Phoenix-only category.

There is Chris' talk at ElixirConf and his video on building a chat server. There may be some things we can duplicate from the Elixir wiki, and google knows all, tells all.

[2014-08-25 22:30] lancehalvorsen opened #14 "Remove Structure Page?"
I extracted the output of the tree command from the first page of the guides into this file. Now, I don't think it's really needed.

Thoughts?

[2014-08-25 22:58] #9 closed, assigned to lancehalvorsen

[2014-08-26 16:25] #14 closed, assigned to nobody

[2014-08-26 16:30] #10 closed, assigned to nobody

[2014-08-26 22:22] lancehalvorsen opened #19 "Add Config Guide"
We should explain configuration options in the /config directory including the use of environment specific config files.

[2014-08-27 05:51] eliaw opened #20 "Using exrm with phoenix"
Following your guide, the release executable works fine, but now `mix phoenix.start` no longer works because and gives this error:

[code]

Were you seeing this behaviour also?

[2014-08-27 16:46] #20 closed, assigned to nobody

[2014-09-02 19:14] #4 closed, assigned to lancehalvorsen

[2014-10-01 03:05] #13 closed, assigned to nobody

[2014-10-07 04:53] #5 closed, assigned to lancehalvorsen

[2014-10-14 03:19] lancehalvorsen opened #37 "Make Sure plug :action is Explained and Used Properly in Controller Guide"
This is catch up work from the 0.5.0 release today.

[2014-10-14 04:16] lancehalvorsen opened #38 "Add plug :render Explanation and Usage to Controller Guide"

[2014-10-14 04:45] #37 closed, assigned to lancehalvorsen

[2014-10-14 22:01] lancehalvorsen opened #40 "Add Explanation and Usage Info on Pipelines to Router Guide"

[2014-10-14 22:02] lancehalvorsen opened #41 "Add Resources for Plug, EEX, and Cowboy to the Resources Guide"

[2014-10-15 06:01] #38 closed, assigned to nobody

[2014-10-17 05:04] #41 closed, assigned to nobody

[2014-10-21 22:22] lancehalvorsen opened #48 "Add a Genuine Overview Guide"
- something that will lay out the pieces of Phoenix, all in one place
- something that will talk about other parts of the ecosystem - Plug and Cowboy

[2014-10-21 22:24] #48 closed, assigned to lancehalvorsen

[2014-10-23 04:20] lancehalvorsen opened #50 "Provide More Helpful "Under Construction" Pages"

[2014-10-23 05:09] #50 closed, assigned to nobody

[2014-10-30 04:51] #40 closed, assigned to nobody

[2014-11-08 05:57] #6 closed, assigned to lancehalvorsen

[2014-11-13 01:49] lancehalvorsen opened #58 "Document Using Atoms for Templates in Rendering"
This boils down to `render conn, :index` in addition to `render conn, "index.html"`

[2014-11-19 18:06] #7 closed, assigned to nobody

[2014-11-19 22:52] koctya opened #64 "Elixir Dose placeholder links broken,"
The Elixir Dose links in the ecto-models guide is broken, know of any other links to add in until this guide is fleshed out?

just going through the guides trying to find where I can help out next, thought maybe I could work on the ecto guide, or do you have other suggestion?

[code]

[2014-11-20 00:13] #58 closed, assigned to nobody

[2014-11-20 00:19] #64 closed, assigned to nobody

[2014-11-20 00:23] lancehalvorsen opened #66 "Complete the Ecto Model Guide"
- work through all seven basic routes for a resource using Ecto models

[2014-11-24 05:14] #11 closed, assigned to nobody

[2014-11-28 19:30] jakerobers opened #70 "Found a typo"
In the routers file, there is a place where you spelled "controler" instead of "controller"

[2014-11-28 21:06] #70 closed, assigned to nobody

[2014-12-04 17:05] mlooney opened #74 "Changing app-name"
The example app name starts out as "PhoenixHello", then changes to Test on the "Templates" page.

[2014-12-04 17:14] mlooney opened #75 "Struct clarity"
Templates page:

Introduces "structs" to the reader, without defining them, also uses the arcane (to non-elixir users) |> operator. Should perhaps be some sort of callout explaining both of these things.

(obviously, i'm not an elixir expert by any stretch of the imagination, which is probably your target audience :))

[2014-12-04 19:48] #74 closed, assigned to nobody

[2014-12-05 23:53] #75 closed, assigned to nobody

[2014-12-09 19:06] tonini opened #80 "Links to internal markdown files don't work."
The link to the markdown file `Z_resources.md` appears in several places in the `0_overview.md` file, but never works.

[2014-12-09 19:13] jeregrine opened #81 "Try to use markdown links where possible."
In some cases, such as the resources file, you use html tags. Readme.io won't accept them.

Making an issue so its kept track of.

[2014-12-09 19:27] tonini opened #82 "Kind of style-guide how to write docs/guides."
Maybe it could be a good idea to write down some kind of a style-guide how to do things in the docs/guide.

As example, while fix some things in the docs I came over a few situations where I wasn't sure about if I should code tag content. Like for keystrokes `ctrl-c` or in general for module names like `HelloPhoenix`.

[2014-12-09 23:00] #81 closed, assigned to nobody

[2014-12-09 23:00] #80 closed, assigned to nobody

[2014-12-11 13:36] tonini opened #90 ""API Docs" URL on www.phoenixframework.org header navigation"
Hi @lancehalvorsen

The URL to the API Docs in the `0.6.2` still links to `http://hexdocs.pm/phoenix/0.6.1/`.

Do you need to update that always by hand for every new version?

[2014-12-19 20:36] chrismccord opened #95 "Start tagging releases to mirror Phoenix releases"
We should mirror the Phoenix development and treat `master` as the unstable docs, and start tagging releases, ie `v0.7.x`. I'm always ready to jump to fix different parts of the guides, but then realize we lose context of what is and isn't stable. Going this route will help clear that up.

[2014-12-21 01:38] #95 closed, assigned to nobody

[2014-12-22 23:06] chrismccord opened #98 "File Uploads guide"

[2014-12-23 03:18] lancehalvorsen opened #99 "Testing Guide"
There have been several questions on the mailing list lately about how to test various parts of a Phoenix application. It would be great to have a guide as a reference.

[2015-01-09 18:39] lancehalvorsen opened #118 "Diagram Request Lifecycle"
Originally suggested by @hiphoox on twitter:

It will be great to have a diagram explaining the flow of a request through the apps and processes in Phoenix.

Agreed!

[2015-01-11 05:40] lancehalvorsen commented on #90
This appears to be fixed now. I'm guessing the credit goes to @jeregrine. Thanks!

[2015-01-11 05:40] #90 closed

[2015-01-12 01:33] lancehalvorsen opened #124 "Endpoint Guide"
We certainly need one.

[2015-02-09 05:06] lancehalvorsen commented on #8
closed by #137

[2015-02-09 05:06] #8 closed

[2015-02-23 19:22] kgish opened #143 "API Docs link in header"
The link to `API Docs` still points to `v0.8.0` should be http://hexdocs.pm/phoenix/0.9.0/

[2015-02-24 04:09] lancehalvorsen commented on #143
@kgish I just fixed this one.

//cc @jeregrine

[2015-02-24 04:09] #143 closed

[2015-02-24 10:48] bcardarella opened #145 "Channel guides are confusing"
I'd like to voice concern over the nature of the channel guide. While I appreciate the desire to show what is happening on such a low-level I feel most people just won't care about the dispatching, etc... it might be best to show a more concise "here's how to implement channels" guide then the 2nd half of the guide can do more of the lower-level stuff in iex. As-is the current mix feels disjointed

[2015-02-24 16:45] chrismccord commented on #145
I agree we need more material on using channels in practice. Most users don't have to think about the Transport layer so we can replace it with higher level stuff and move it to its own section for those that want to dive deeper/implement their own transport.

[2015-02-24 18:24] lancehalvorsen commented on #145
First, let me say that I hear you. For me, of all the parts of Phoenix, this is the most challenging material to present well. Let me take a minute to explain why I wrote what I did.

Throughout all the guides, I've tried to not only present the how and the why, but also to provide tools for people to investigate, verify and debug what they are doing. Think of the Routing Guide; we write a resourc

[2015-02-25 04:32] lancehalvorsen commented on #145
Ok, now that I wrote that lengthy treatise (apologies), anybody have ideas about what a better quick introduction/channels in practice might look like? I'm totally open to suggestions, and I was stymied for  quite some time before I came to this approach. (There's a reason the Channel Guide took so long. :^) )

[2015-02-25 05:38] lancehalvorsen opened #148 "Talk About Other PubSub Adapter Options"
Specifically these:
- https://github.com/pma/phoenix_pubsub_rabbitmq
- and the forthcoming  redis version

[2015-03-08 20:42] tsloughter opened #154 "Wrong packages in Up and Running"
In https://github.com/lancehalvorsen/phoenix-guides/blob/master/A_up_and_running.md it has the following suggested commands:

[code]

On Debian you need to use the Erlang Solutions PPA if you want Elixir (because you need 17.x), and I  believe those packages are only part of the debian packages for R16.

[2015-03-08 22:36] lancehalvorsen commented on #154
@tsloughter, can you verify that please? I don't have a Debian system handy. As always, a PR would be most welcome if you can verify that the guide is incorrect. :)

Fwiw, that part of the guide was prompted by this issue in the Phoenix repo:
https://github.com/phoenixframework/phoenix/issues/602

I know that @kgish was able to install Elixir after installing the packages in question, so I'm reall

[2015-03-08 22:57] tsloughter commented on #154
Ok, my bad, it is a package, but I think if you install `esl-erlang`, which is a metapackage, it'll install all of those packages automatically.

[2015-03-08 22:57] #154 closed

[2015-03-09 17:32] shankardevy opened #155 "Deployment with ecto"
http://www.phoenixframework.org/v0.10.0/docs/advanced-deployment describes deployment to server by copying a tar file to server, extracting and running the start script. However, it does not give any information about the following

1. How are the database credentials on the prod server passed to app.
2. Does exrm release take care of any migration related tasks.
3. When v0.1 is deployed and it ne

[2015-03-10 03:04] lancehalvorsen commented on #155
@shankardevy those are great questions! I don't currently know the answers to them! :)

If you were interested in finding the answers, I would totally love a PR. Otherwise, I will get to them, but other things will take precedence.

[2015-03-10 15:31] lancehalvorsen opened #157 "Rework View Guide for v0.10.0"
- no more main view
- use `use MyApp.Web, :view`
- other changes as needed

reference: https://gist.github.com/chrismccord/cf51346c6636b5052885

[2015-03-10 15:32] lancehalvorsen opened #158 "Rework Adding Pages Guide for v0.10.0"
- no more main view
- use `use MyApp.Web, :view`
- other changes as needed

reference: https://gist.github.com/chrismccord/cf51346c6636b5052885

[2015-03-10 15:34] lancehalvorsen opened #159 "Rework Template Guide for Latest Version"
- add section for form helpers
- discuss how csrf tokens (manual and w/ form helper)

references:
https://gist.github.com/chrismccord/cf51346c6636b5052885
http://www.phoenixframework.org/v0.10.0/blog

[2015-03-10 15:35] lancehalvorsen opened #160 "Add Generators Guide"
- walk through generating a scaffold with the new generators

references:
https://gist.github.com/chrismccord/cf51346c6636b5052885
http://www.phoenixframework.org/v0.10.0/blog

[2015-03-10 16:14] jeregrine opened #161 "transfer repo to be under phoenix-framework organization?"
To help people find them more quickly. @lancehalvorsen you can still be admin on the repo and etc :)

[2015-03-10 17:31] lancehalvorsen commented on #161
We're getting to the point where this is probably the right call. :) Can there be multiple "owners" of the project? (seems like there can be) That would add flexibility in the long run.

@chrismccord, thoughts?

[2015-03-10 19:38] kgish commented on #161
Not sure what the advantages would be, as long as people can find it via a link why bother?

[2015-03-11 06:56] jeffweiss commented on #157
+1. I nearly opened an issue for this, noting that the main view was removed in https://github.com/phoenixframework/phoenix/commit/5c619e24960a27fa9896b44854ca3876feec0c30

[2015-03-11 15:07] lancehalvorsen commented on #158
closed by #156

[2015-03-11 15:07] #158 closed

[2015-03-12 17:35] chrismccord commented on #161
Only one org can own a project, but I have set up a `phoenix-docs` team that can share access to the project.

[2015-03-13 08:02] shankardevy opened #167 "What does phoenix.new do?"
I wanted to know what phoenix.new does that mix new doesn't? Reading the source code of the generator https://github.com/phoenixframework/phoenix/blob/master/lib/mix/tasks/phoenix.new.ex does not help because it simply copies files/folders from a template.

So I have created a repo showing the differences between a mix project and phoenix project through commits.
https://github.com/shankardevy/pho

[2015-03-13 10:14] asonge opened #168 "API Docs link in header still links to 0.9.0"
API Docs link in header still links to 0.9.0, should link to 0.10.0

[2015-03-13 14:32] lancehalvorsen commented on #167
Guerilla Github Documentation Marketing. :) :) :)

For the record, what I'm working on now is a revamp of the Mix Task Guides which will have a lot more info on both the Phoenix and Ecto mix tasks in a new application. This work was prompted by the changes to `phoenix.new` and should land in the next day or so.

[2015-03-13 14:32] #167 closed

[2015-03-13 14:35] lancehalvorsen commented on #168
This appears to be fixed now. Perhaps @jeregrine is the one to thank? :)

[2015-03-13 14:35] #168 closed

[2015-03-13 14:41] shankardevy commented on #167
@lancehalvorsen hope it wasn't too bad :)

[2015-03-13 16:58] lancehalvorsen commented on #167
@shankardevy hehe, no problem. I just can't pass up the opportunity for a punch-line sometimes. :)

[2015-03-13 17:09] paulcsmith opened #169 "Rethinking the Phoenix landing page"
As discussed in IRC, the current website aesthetic is fairly generic and focuses a lot on technologies and not "human" reasons to switch. Compare the [phoenix homepage](http://www.phoenixframework.org) to [Ruby on Rails](http://rubyonrails.org) or [meteor](https://www.meteor.com) which focus less on technologies and more on what the framework has to offer developers. "Build apps that are a delight

[2015-03-13 17:23] lancehalvorsen commented on #169
:+1: for upping our marketing game. Lot's of great ideas/insights here.

More later . . .

[2015-03-13 18:43] lancehalvorsen commented on #157
closed with #165

[2015-03-13 18:43] #157 closed

[2015-03-13 18:49] lancehalvorsen commented on #12
PSA: Most of this has been out there for a long time, but's been missing the build-your-own-mix-task part.  I'm revamping the whole guide now to reflect the changes/additions to phoenix.new, the phoenix.gen.resource task, and the tasks which come in through ecto. I won't merge the changes in until I have the build-your-own bit included.

[2015-03-13 18:50] paulcsmith commented on #12
That will be a very helpful guide! :+1:

[2015-03-13 19:21] kgish commented on #169
Hi there.

I think that the reasons mentioned cover pretty much how I feel, so in
that regard I do not have that much to add really.

Speed and scalability are prerequisites nowadays for any kind of
framework anyway, so if you intend on differentiating yourself from
other frameworks it's probably best to avoid these buzzwords.

Maybe I'm a bit old-fashioned but I tend not to take hype very serious

[2015-03-13 19:32] chrismccord commented on #169
Phoenix is *great* for a backend of any JS framework you choose, but I don't agree with this particular point. If we are to highlight anything along these lines, it would be that Phoenix is great for both HTML apps and REST backends.

@paulcsmith *fantastic* work. The wording is exactly what I had in mind. I will have more thoughts soon.

[2015-03-13 19:50] Kosmas commented on #169
:+1:

[2015-03-13 21:20] kgish commented on #169
@chrismccord sure, I understand what you're saying. I'm not implying that Phoenix isn't great, it is! What I meant was that I've seen examples in the past where slow clients have given the impression that a given backend was slow and don't think that such a great product like Phoenix deserves a bad rap.

[2015-03-14 11:38] josevalim commented on #169
Thanks @paulcsmith, this looks great! It does provide a much more human approach to the marketing page which is awesome. I believe there are three sides of Phoenix that we need to emphasize:

1. You don't need to choose between a slow application and a productive environment. Phoenix gives you both. This is the message you have nailed!

2. Highly connected, inside-out. This has two sides:
  * Elix

[2015-03-14 12:24] josevalim commented on #169
Ok, this comment aims to be more specific in the feedback:

I completely agree with your goals. I personally wouldn't change any of the goals. The only change I would try to make is include "productive" in our main description. Since we already say "development environment" in the tagline, I thought about:

Regarding the "How is Phoenix different?" section, we are mostly arguing about why Phoenix

[2015-03-16 14:49] chrismccord commented on #169
:+1:

I'm 100% on everything @josevalim said. Couldn't have said it better myself. I think the language and flow @paulcsmith has now with @josevalim's feedback will be perfect.

[2015-03-16 14:51] paulcsmith commented on #169
Thanks for all the feedback! I'm glad you like the direction it's going. I'll have an updated version near the end of the week.

[2015-03-18 08:50] josevalim opened #171 "URL helpers should pass the connection instead of the endpoint as much as possible"
First of all, we should likely ask users to `import MyApp.Router.Helpers` instead of always referencing it by full alias. Then, if we have a connection available (which is true in controllers, views, etc), we always pass the connection:

[code]

The endpoint should only be used in contexts where the connection is not available, like mailers:

[code]

[2015-03-18 14:05] lancehalvorsen commented on #171
Valuable feedback @josevalim. Thanks!

[2015-03-18 23:42] #12 closed

[2015-03-19 23:15] chrismccord opened #173 "0.11 TODO"
Adding a list of things to update for 0.11 (some of these are still in flux, but this will help us keep a jump on the changes as we get closer to release). I'll update this comment as I come across changes.

[ ] Supervision list has changed https://github.com/lancehalvorsen/phoenix-guides/blob/master/X_mix-tasks.md#ectogenrepo https://github.com/phoenixframework/phoenix/blob/master/priv/templates/

[2015-03-20 03:53] lancehalvorsen commented on #173
This is such a great idea - so helpful! Thanks! <3

[2015-03-21 21:50] ijt opened #175 "Channels section talks about removed subscribers function"
The first reference is

    Phoenix.PubSub.subscribers(HelloPhoenix.PubSub, "rooms:demo")

Some rewriting around it will be needed.

[2015-03-21 22:47] lancehalvorsen commented on #175
Thanks for reporting this, @ijt! I'm still catching up to the 0.10.0 changes, and this is now on the list.

If you feel like helping out, pull requests are always welcome. :)

[2015-03-25 22:13] lancehalvorsen commented on #175
PR #176 closes this.

[2015-03-25 22:13] #175 closed

[2015-03-25 23:29] ijt commented on #175
Got it. Thanks Lance.

[2015-03-25 23:59] lancehalvorsen commented on #175
:+1:

[2015-03-26 00:02] chrismccord commented on #175
I will have some edits around here soon. subscribers is an internal API that really no-one should touch other than pubsub adapter authors.

[2015-03-26 00:17] lancehalvorsen commented on #175
@chrismccord much appreciated in advance! :)

Btw, is there an exposed/approved way to check which pids are subscribed to a topic on a channel? I clearly missed it if there is.

[2015-03-26 17:19] paulcsmith commented on #169
I'm going to start the HTML and CSS tomorrow and next week. I checked with Readme.io and they do allow custom CSS, but there is no sandbox or test mode, which will make it extremely hard to test any changes. I'm thinking that I would do the HTML and CSS and we can host it on GitHub or somewhere else, disable the landing page on README.io and point the root to the page on GitHub (or wherever else i

[2015-03-26 17:28] josevalim commented on #169
Maybe it is ok to have the website temporarily "ugly" while we do this? I
am not sure how well it will play if we break the website in 2 different
places.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-03-26 17:33] chrismccord commented on #169
Perhaps you can locally clone the readme assets and add your own customizations to the static site. Then when things look someone ok, we can throw up your custom html/css on the readme admin side? I think a few blips here and there are fine like @josevalim said.

[2015-03-26 17:46] paulcsmith commented on #169
I definitely would prefer to keep it all on Readme.io, but I didn't see a way to do. I would clone the assets locally and then restyle it, but I don't see a way to do that. Is there a git repo on Readme.io with all the HTML? If so I don't see it, and after googling I couldn't find anything. I'll ask their support team, but it doesn't seem likely to me.

Also, if we do go that route (using Readme.i

[2015-03-26 17:50] chrismccord commented on #169
I believe a field -> save page as in FF will copy all the assets and rewrite the paths?

[2015-03-26 17:51] lancehalvorsen commented on #169
@paulcsmith in dash.readme.io for the site, try clicking on dashboard -> appearance -> custom stylesheet.

Also, in a pinch, we could create a "styling" directory in this repo to save custom css.

[2015-03-26 17:55] paulcsmith commented on #169
@lancehalvorsen That sounds good to me. a `styling` directory would be perfect. I can even include the download

@chrismccord That worked perfectly. I was way overthinking things. Thanks :)

I still have my doubts about using readme.io since they don't offer a lot of flexibility with the content or the HTML. I'll see what I can do though

[2015-03-26 17:55] lancehalvorsen commented on #169
@paulcsmith perhaps my first answer didn't quite get at your whole question. Sorry if I failed at that. :^)

Currently, with the way readme.io works, our updating process is pretty manual - lot's of copying raw markdown and pasting into the site. I suspect that custom markdown/css is going to be in the same boat.

[2015-03-26 18:00] lancehalvorsen commented on #169
@paulcsmith boom! A new styling directory now available for custom stuff. :)

[2015-03-26 18:03] chrismccord commented on #169
Yeah the process is a little clumsy, but it lets us focus on bigger things instead of setting up/managing/deploying a middleman/jekyl/etc app, so hopefully this process won't be too frustrating for the homepage. We can re-evalulate readme later, but for now it saves us time so we can ship great content and code :)

[2015-03-26 18:13] paulcsmith commented on #169
@lancehalvorsen Thanks! That's what I'll do for now.

@chrismccord That makes total sense for now. I know you and the core team are working on a lot of things right now, and I'm very grateful.

If we want more customization in the future, I think we could use GitHub pages with a custom domain. That way deployment is as easy as merging to the branch `gh-pages`. Then the management/setup is not hard

[2015-03-29 03:29] josevalim commented on #169
Hello folks, I talked to Bruce Tate about this and he had some great feedback. Here is what we propose followed by the rationale of the change.

### Intro

Rationale: More memorable, less repetitive.

### Subsections

#### How is Phoenix different?

Discussion: "How is Phoenix different?" is not necessarily good heading because different doesn't imply better or worse. We haven't come up with somet

[2015-03-30 20:58] lancehalvorsen commented on #169
Ideas: Instead of "How is Phoenix Different?", what about "What Makes Phoenix Great?" Another thought, "Why Should I Try Phoenix?"

[2015-03-30 21:07] lancehalvorsen commented on #169
An idea for the "A framework for the new web" paragraph:

The web is evolving very fast. Phoenix embraces this change and anticipates the future with a real-time streaming and pubsub technology called "Channels". Channels let us build rich, interactive applications that can communicate with any type of connected device.

[2015-03-31 05:34] josevalim commented on #169
Here are some updates based on @lancehalvorsen feedback and some more I heard today. Some folks said "How is Phoenix different?" is actually a good heading because that would be their follow up question. Everyone loved the "Productive. Reliable. Fast." bit.

#### Building the new web

Discussion: made it shorter, added focus on what you can build with it (not how)

#### Battle-proven technology

D

[2015-03-31 13:28] chrismccord commented on #169
This is a great change

:+1:

These changes are really nice. Short & simple and gets our messaging across.

[2015-03-31 13:40] chrismccord commented on #169
I think this can work, but we could also make it,

"What makes Phoenix great?"

I think this can work well. We could also do something like this, if we don't mind the metaphor:

"Rising above the status quo"

[2015-03-31 18:01] lancehalvorsen commented on #169
I'm seriously :+1:  on these changes.

I would suggest a slight edit to the "Building the New Web" paragraph - from this:

Channels let us build rich, interactive applications, be it in the browser, a native mobile app or even in embedded devices.

To this:

Channels let us build rich, interactive applications in the browser, in native mobile apps, or even in embedded devices.

[2015-03-31 18:38] josevalim commented on #169
Agreed with the latest proposal too!

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-03-31 18:46] paulcsmith commented on #169
These are some really great ideas. I need to find time to get the design and HTML done so we can play around with the text. I'll have some time to do this while I'm on vacation next week :)

I am not sure of the "Productive. Robust. Fast" headline because I feel that it is memorizable, but not memorable. There is no context yet, so the brain has nothing to connect it with. What is this? _What_ is

[2015-03-31 18:57] josevalim commented on #169
I am not a marketing specialist (the person who suggested it actually was)
but isn't memorizable exactly what we should go after?

Take Nike for example: "just do it". It applies to anything, it couldn't be
vaguer, but it was actually the first example that came to my mind when
writing this, from all existing brands.

So I would say: go with memorizable. If that is the first thing that comes
to mi

[2015-03-31 18:59] paulcsmith commented on #169
Sounds good to me! I'll use that then

[2015-03-31 19:39] kgish commented on #169
While both are valid I prefer `blazingly fast` to `blazing fast`, the latter being more common, e.g. blazing speed. In my opinion the use of `blazingly` would stick out slightly better helping to differentiate phoenix from the others.

[2015-03-31 19:41] paulcsmith commented on #169
I like `blazingly fast` too, but I think we're replacing that line with "Productive. Reliable. Fast"

Maybe we could do "Blazingly Fast" at the end instead of "Fast"

[2015-03-31 20:00] kgish commented on #169
That would be cool also.

[2015-03-31 20:31] josevalim commented on #169
Then it is worth discussing why are we emphasizing "fast" over the other two words? If I would pick one of the three to emphasize, I think "fast" would actually be my last pick. :)

[2015-03-31 20:35] paulcsmith commented on #169
Good point, Jose. We should definitely figure that out. It's interesting because speed is definitely what led me to use Phoenix. I love Rails and find it to be very productive, but it takes so long to test, it quickly gets bogged down under load and that makes me sad :(. I never had major issues with reliability or productivity.

The problem was everything that was faster than Ruby/Rails also requ

[2015-03-31 20:48] josevalim commented on #169
@paulcsmith I assume you only stayed though because you found yourself to be as productive in Phoenix as in Rails. I mean, there are plenty of alternatives right there for a Rails developer, but most people still stick to Rails because they don't feel as productive elsewhere.

So fast was what made you look into Phoenix but is it the reason that made you *stay*? :)

Fast is always a weird thing to

[2015-03-31 20:52] paulcsmith commented on #169
@josevalim Yes exactly. That's what I tried to explain, but didn't do a good job :P The speed is what made me want to try it, but yes, I would have left if it was not as productive.

[2015-04-01 03:12] mutablestate commented on #169
@paulcsmith My honest answer is my Grandmother always said do what makes you happy - thanks Gran!

I was happy making websites with Rails until starting to work on larger projects where the ‘Railsy way’ was failing me and complex workarounds were needed.

Phoenix gives me the advantages and simplicity of functional programming in a productive web framework and that makes me happy.

[2015-04-06 01:05] chrismccord commented on #173
All 0.11 changes are ready to go other than the channels guide. I will be starting that next then we should be all set for the 0.11 release

[2015-04-06 01:05] #173 closed

[2015-04-06 01:06] chrismccord opened #182 "Remove static assets guide (or refresh for extended brunch setup)"

[2015-04-06 04:30] lancehalvorsen commented on #173
Wow, when I saw all those commits, it was as if Christmas had come early - on Easter, actually. :^)

Thanks so much for all of your help!

So far, this is the list of files that will need to migrate to the site when 0.11.0 goes live:
0_overview.md
A_up_and_running.md
B_adding_pages.md
C_routing.md
D_controllers.md
E_views.md
F_templates.md

[2015-04-08 00:28] lancehalvorsen commented on #173
@chrismccord @jeregrine since 0.11.0 is out, I'll go ahead and create a new version number on the site, then move all these over, and add in the new Channel Guide as well.

[2015-04-08 00:39] jeregrine commented on #173
💖💗

On Tue, Apr 7, 2015 at 7:28 PM, Lance Halvorsen <notifications@github.com>
wrote:

[2015-04-08 01:02] lancehalvorsen commented on #173
Ok, the site should be updated with a new version, 0.11.0, with all of the files listed above updated. Please let me know if anything looks wrong.

I'll be heading home now, but that could take an hour and a half-ish, so I'll be offline until later this evening.

Yay! This was a radically smoother upgrade process. Thanks so much for your help @chrismccord!
//cc @jeregrine

[2015-04-08 05:36] 2kodes opened #186 "No guide for upgrading from v0.10.0 to v0.11.0"
hi
Just a heads up that the upgrade guide for moving from v0.10.0 to v0.11.0 has not been added to the main site http://www.phoenixframework.org/

[2015-04-08 16:59] lancehalvorsen commented on #186
@2kodes thanks! I just added it now.

//cc @chrismccord @jeregrine

[2015-04-08 16:59] #186 closed

[2015-04-08 18:08] josevalim opened #187 "Use the new Phoenix installer for creating new phoenix projects"
We no longer need to clone a git project!

1. First @chrismccord needs to add the generated archive to a release on github

2. Then we can update the guides with the new, fresh and easy install instructions!

[2015-04-08 18:28] #187 closed

[2015-04-08 19:55] stevedomin commented on #161
:+1:

I've seen a couple of people asking where they could find the docs sources

[2015-04-11 06:44] josevalim opened #190 "Deployment guide no longer needs to talk about protocol consolidation and should include static digest"
We can ask developers to use at least Elixir v1.0.4 and the new build_embedded and start_permanent will already do the proper thing: http://blog.plataformatec.com.br/2015/04/build-embedded-and-start-permanent-in-elixir-1-0-4/

We have also added a `phoenix.digest` task that folks should use after `brunch build --production` (or whatever tool they have) to automatically generate digests with a mani

[2015-04-11 23:49] lancehalvorsen commented on #66
closed by #192

[2015-04-11 23:49] #66 closed

[2015-04-11 23:51] lancehalvorsen commented on #160
This is taken care of in both the Mix Tasks Guide and in the Ecto Models Guide.

[2015-04-11 23:51] #160 closed

[2015-04-11 23:52] lancehalvorsen commented on #145
@bcardarella, @chrismccord gave the Channels Guide an entirely new treatment. What do you think? Can we close this?

[2015-04-12 08:08] bcardarella commented on #145
:+1: I saw some copy errors I PRd to fix

[2015-04-12 08:08] #145 closed

[2015-04-12 22:06] #190 closed

[2015-04-13 14:49] paulcsmith commented on #169
@mutablestate Thanks for sharing. That helps a lot in planning out the content of the website!

To keep everyone posted: I've started on on styling the Readme.io pages and it's a bit tricky. The CSS selectors are very specific, which makes them tricky to override. This is adding a bit of time, but I'll have some code/content for everyone to look at in a week or two.

[2015-04-13 15:16] jeregrine commented on #169
Paul let me know if you need any help. I've got a little bit of experience
in that CSS.

On Mon, Apr 13, 2015 at 9:49 AM, Paul Smith <notifications@github.com>
wrote:

[2015-04-13 15:22] mutablestate commented on #169
@paulcsmith more explicitly regarding the website content ;-) The main reason I came to Phoenix was for simple and productive scalability right out of the box.

Thanks for your work on improving the website rhetoric.

[2015-04-13 15:34] chrismccord commented on #66
Nice job @lancehalvorsen ! This guide is going to be really helpful for Ecto learning.

[2015-04-23 15:42] paulcsmith commented on #169
@jeregrine Thanks for the offer! Mostly I've just been super busy. I'll hit you up if I need some help though!

Some feedback from Twitter: https://twitter.com/toomuchpete/status/591235217068847105

The current version seems to be overly focused on real time (as we already talked about). So, we need to be sure to mention that Phoenix can be used for real time, APIs and "regular" HTML web apps. We'

[2015-04-23 19:42] josevalim commented on #169
In the earlier docs I was used to say: from HTML 5 apps and API backends to
distributed systems.

So my answer is "html 5 apps".

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-04-23 19:57] jeregrine commented on #169
What if we did that hot new thing where its like

Use Phoenix to build ________

And then it cycles API, Web, Real Time, Distributed Systems, Synergy etc
etc. In the under line.

On Thu, Apr 23, 2015 at 2:42 PM, José Valim <notifications@github.com>
wrote:

[2015-04-24 15:57] paulcsmith commented on #169
@josevalim I like that. Maybe just "HTML apps", since HTML 5 carries a lot of extra meaning with it? (offline, web workers, local storage etc.)

@jeregrine Cool idea. Not sure if it's possible with readme.io? I'm not sure you can use custom html in the header text. I'll have to look.

Also, could someone post an svg/eps/ai version of the Phoenix logo here so I can make it white :) Right now I'm us

[2015-04-24 20:16] paulcsmith commented on #169
Since HTML 5 apps is pretty ambiguous, how about "server rendered apps" instead of "HTML 5 apps"?Technically SPAs are still HTML 5 apps, so maybe this makes more sense.

I got this term from: http://blog.skylight.io/a-new-sense-of-purpose-for-rails/

[2015-04-24 21:02] josevalim commented on #169
Server rendered apps are fine. HTML 5 apps is fine too in any
interpretation, even if it is JavaScript heavy, we will do a great job as
an API and integrating via channels.

So I would stick with HTML 5 exactly because it means more but I am fine
with any.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-04-24 21:06] paulcsmith commented on #169
Ok cool, I wanted to make the distinction so that we can say things like, "Use Phoenix to build APIs, server rendered apps, etc." Sorry I wasn't clear on that.

[2015-04-25 01:50] chrismccord commented on #169
Jason's idea is really great. As far as naming, I've never been a giant fan of html5, but it's the most obvious/succinct choice here imo. Jason's idea with a tag line that uses html5 could work well

[2015-04-25 02:17] paulcsmith commented on #169
Cool. We can do html 5 then.

I definitely won't have time to do the marquee thing that Jason suggested in the near future, but I at least have the main styling done. Others can pick up the marquee feature sooner if they want though.

Also, I strongly believe that we'll want to use github pages for the landing page at some point soon though. The CSS is pretty gnarly on readme.io. Very susceptible

[2015-04-25 05:58] josevalim opened #210 "Explicitly cover Phoenix dependencies"
I am not sure if this content exists yet, but when we install Phoenix, maybe we should say explicitly the tools we will be using in the guides.

* node.js (for brunch.io used for assets)
* postgres
* erlang
* elixir
* [inotify-tools](https://github.com/rvoicilas/inotify-tools/wiki) if you are on linux (needed for live reload)

[2015-04-25 06:59] lancehalvorsen commented on #210
Much of this is covered implicitly and in a piecemeal fashion. I agree that we should make this explicit in one place, probably the Overview Guide. Referencing it from other places wouldn't hurt either - Up And Running, Mix Tasks, and maybe Ecto Models.

[2015-04-25 07:00] lancehalvorsen commented on #210
Oh, and cover the parts that currently are not in the guides at all (inotify-tools).

[2015-04-25 07:35] josevalim commented on #210
Yeah, we need to cover those when we first generate/run the app otherwise it will fail or emit errors if we don't have those (except for postgres which is not required).

[2015-04-27 23:23] lancehalvorsen opened #211 "Add examples for `send_resp/3` in Controller Guide"
See comments here:
https://github.com/phoenixframework/phoenix/pull/818#issuecomment-96848710

[2015-04-27 23:25] lancehalvorsen opened #212 "Remind users to look in Plug docs in case documentation not in Phoenix"
See comments here:
https://github.com/phoenixframework/phoenix/pull/818#issuecomment-96848710

[2015-05-01 21:01] lancehalvorsen opened #213 "Include Instructions for Install Failure"
Describe manual install instructions in case install fails.

See this Phoenix issue:
https://github.com/phoenixframework/phoenix/issues/833

[2015-05-03 10:52] josevalim opened #214 "Group API docs"
Hello folks,

Today we at the header we link to API Docs that contains Phoenix documentation. However, I think it would also be important to link to at least Ecto and Plug docs too. Furthermore, we will extract Phoenix.HTML in the next release so I think we should link to those too. So my proposal is to have API Docs linking to a page inside readme.io with links and short descriptions to:

* Phoen

[2015-05-03 17:43] #213 closed

[2015-05-04 08:06] josevalim commented on #214
I have noticed this crashes a little bit with the Overview page. Should we also add Ecto and Phoenix.HTML to overview?

[2015-05-04 09:30] josevalim commented on #161
@lancehalvorsen can you give me admin access to this repo? Then I will do the migration today.

[2015-05-04 15:13] #210 closed

[2015-05-04 15:29] josevalim commented on #161
Apparently we cannot add admins to personal repos. @lancehalvorsen can you transfer this repo to me?

[2015-05-04 15:30] lancehalvorsen commented on #161
@josevalim, will do. I have to head off for the train right now, but this will happen today.

[2015-05-04 16:49] lancehalvorsen commented on #161
@josevalim, this is becoming almost comical. :^)  I can't transfer ownership to you because github says that josevalim/phoenix-guides already exists. Perhaps if you delete your fork this will work?

Persistence will pay off!

[2015-05-04 17:12] jeregrine commented on #161
We should send this thread to someone who works at Github :P

On Mon, May 4, 2015 at 11:49 AM, Lance Halvorsen <notifications@github.com>
wrote:

[2015-05-04 19:46] josevalim commented on #161
Ok, I have deleted my repo. :P

[2015-05-04 20:41] lancehalvorsen commented on #161
Ok, no errors, so maybe? :)

/cc @josevalim

[2015-05-04 20:51] josevalim commented on #161
We did it!!!!!!! https://github.com/phoenixframework/phoenix-guides :heart_eyes_cat:

[2015-05-04 20:51] #161 closed

[2015-05-04 20:53] lancehalvorsen commented on #161
:+1:

[2015-05-04 20:54] jeregrine commented on #161
:tada: :confetti_ball: !!

[2015-05-04 20:55] chrismccord commented on #161
Great work everybody! Computers!

[2015-05-05 15:04] lancehalvorsen commented on #169
Crazy Idea:
A coworker described using a certain javascript framework like this:
"<jsFramework> just makes writing apps fun again." What if we stole that for our tagline?

Phoenix makes writing web apps fun again!
Be really productive developing extremely fast web applications.

The three words that stand out are "fun", "productive", and "fast".

Thoughts?

[2015-05-07 15:08] jeregrine commented on #99
Since @josevalim did such a nice job with ConnTest we should be able to tackle this one.

[2015-05-07 15:24] josevalim commented on #99
Thank you! Channel test should come this weekend. We also have ModelCase on
v0.12.0z

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-05-07 16:58] lancehalvorsen commented on #99
:+1: to the delights of ConnTest and ModelCase!

Also, since the generators now provide test files, getting folks up to speed on testing models and controllers will be significantly easier, I think.

Looking forward to having these conveniences on Channels as well.

[2015-05-07 18:32] gjaldon commented on #155
@shankardevy below are some answers to the questions you posted in case you haven't yet solved them:

I'm not sure what you mean here. Ideally, the database credentials for your prod server wouldn't be stored in your app's git repo. You will need to manually configure your Phoenix app's Ecto DB for your prod server.
To set the DB credentials for your app in production, you will need both `config/p

[2015-05-10 02:02] #182 closed

[2015-05-11 03:23] #82 closed

[2015-05-11 17:34] jeffweiss opened #231 "Find a place for reference applications"
I created an Elixir - Phoenix [implementation](https://github.com/jeffweiss/todobackend-phoenix/blob/master/README.md) for [Todo-Backend](http://www.todobackend.com/). Should this be an additional exercise in the guides? Should it be linked in a section for reference applications?

[2015-05-11 18:16] #212 closed

[2015-05-11 18:21] #211 closed

[2015-05-11 18:26] chrismccord opened #233 "Update channel guide for 0.13"
I broke my own rules by pushing 0.13 without updating the guides first, but I promise I get things fixed up this evening

[2015-05-11 20:00] lancehalvorsen commented on #233
:^)  I noticed.  :^)

I created a new version (v0.13.0) on the site and added the gist you created for upgrading from v0.12.0. I also updated the Up And Running Guide to use `mix archive.install https://github.com/phoenixframework/phoenix/releases/download/v0.13.0/phoenix_new-0.13.0.ez` instead of the 0.12.0 version.

I'll poke around some more tonight to see if there is anything else that needs i

[2015-05-11 20:02] lancehalvorsen commented on #231
Thanks for adding this!

Once we get the new Phoenix release settled in, we can have a solid conversation about where these should go.

[2015-05-11 20:08] chrismccord commented on #233
Unless we list mix.exs deps somewhere, nothing else should need changed. `phoenix_html` was extracted, but everything else was backwards compat apart from channel changes

[2015-05-11 22:22] lancehalvorsen commented on #233
First, I was totally kidding. Just want to make that clear. :^)

And, yes, we display the deps in mix.exs in a number of places, and we talk about changing them in a few places. This will be pretty easy to search for, though.

I'm also going to just do a global search for "12". There are a number of places where we output results from commands that have version numbers in them. Again, this is easy

[2015-05-12 00:18] chrismccord opened #235 "Add ElixirConfEU keynote to site"
Just like the ElixirConfUS talk is on the overview, we should have the new video somewhere. It could replace the ElixirConfUS video or go into a blog post or?

[2015-05-12 04:08] lancehalvorsen commented on #233
I must have been thinking of the Phoenix Guides from an alternate universe. There was hardly anything to change.

All changes from your work @chrismccord , as well as PR's and version bumps for this release have been moved over to phoenixframework.org. Yay!

[2015-05-12 04:08] #233 closed

[2015-05-12 16:49] lancehalvorsen commented on #99
I just opened up PR #238 as a skeleton for this.

I'm working on the intro now, and will head into the models and controllers in turn. The larger plan is to use the the HTML resource we built for ecto models as a jumping off place because a) folks should be familiar with the code already, and b) there are already tests in place that we can add on to. :^)

[2015-05-13 02:33] chrismccord opened #240 "Replace api.phoenixframework.org links with http://hexdocs.pm/phoenix/"

[2015-05-13 02:33] chrismccord commented on #240
http://hexdocs.pm/phoenix/

[2015-05-13 02:39] lancehalvorsen commented on #240
Done and doner. :)

[2015-05-13 02:39] #240 closed

[2015-05-13 02:43] chrismccord commented on #240
<3 <3 <3

[2015-05-13 18:47] ybur-yug opened #242 "Lack of example apps mirroring the guides"
Not a real 'issue', per se, but I figured this would be easier to reach out on than on IRC.

I've been going through the docs/guides and love what I see. However, there is a definite lack of current phoenix applications that can be simply referenced to see 'the right way' or standard conventions to do things. I would gladly clean up the code I have from going through the guides thus far and potent

[2015-05-13 19:10] ybur-yug commented on #242
Here is an example of what I am speaking of specifically. My idea is to have each commit be one of the larger steps in the guide, starting from the dead beginning.
https://github.com/ybur-yug/phoenix_guides_app

[2015-05-13 19:37] ybur-yug commented on #242
I also noticed @chrismccord has the chat app that it builds up to as a whole, but I thought it may be beneficial to have a commit-by-commit version going through the steps that build up the app (while there isn't much to show with src for things like the routing bit where its largely playing in iex etc)

Anywho, feel free to close if it doesn't sound like a good idea but otherwise let me know if y

[2015-05-13 19:43] chrismccord commented on #242
@ybur-yug better examples and step by step instruction are on my list of todos, but it's a long list :). We haven't had example apps yet because it's another thing for us to maintain and lots of rework when things change. Expect a better story here soon. Thanks!

[2015-05-13 19:43] #242 closed

[2015-05-13 22:02] ybur-yug commented on #242
thanks @chrismccord !
If there is anything I can offer w.r.t documentation, my skills probably arent high enough in Elixir itself to contribute to the framework, but I'd be happy to help with docs/guides/examples if the need arises and you let me know :)

[2015-05-14 11:37] gjaldon commented on #99
Would you like some help here, @lancehalvorsen? I've had the chance to use `Phoenix.ChannelTest` when working with the channel generator in Phoenix and have used ConnTest and ModelCase in an app I'm building.

[2015-05-14 11:39] gjaldon commented on #124
I'd like to help out with this too, @lancehalvorsen. Just let me know which one you prefer I take on.

[2015-05-14 14:43] lancehalvorsen commented on #99
Yes, please! Thanks so much for the offer, @gjaldon.  :)

[2015-05-14 14:49] lancehalvorsen commented on #124
Thanks for this as well, @gjaldon! Much appreciated.

This guide would be fine to work on, if it interests you. A Heroku deployment guide would be great as well. This would be a new file.

[2015-05-14 21:10] lancehalvorsen commented on #99
@gjaldon, I just closed this https://github.com/phoenixframework/phoenix_guides/pull/152, but there may still be things you can use from it. @paulcsmith has kindly offered it up if it's useful.

[2015-05-14 21:13] paulcsmith commented on #99
@gjaldon LMK if you need any help with the channel guide. As @lancehalvorsen mentioned, the one I started might be a good outline for the new one

[2015-05-15 04:46] gjaldon commented on #99
@paulcsmith thanks! Will let you know if I get stuck and will likely use the one you started as outline.

[2015-05-15 09:24] josevalim commented on #169
Just a follow up. Is there anything we can do to help move this forward?

[2015-05-15 20:25] lancehalvorsen opened #246 "Revive the Static Asset Guide"
We need to better explain the interplay between Phoenix and brunch.io.
- more info on how to control brunch installation at app generation time
- explain how to use another asset management system in Phoenix, say WebPack instead of brunch
- explain how brunch works inside of Phoenix
- talk about compiling assets for deployment

[2015-05-15 20:29] lancehalvorsen opened #247 "Enhance Explanation of Brunch and Assets at App Creation"
This includes work in the following guides:
- Up and Running
- Mix Tasks

Specifically, we want to warn people that if they install an app with brunch and don't install the npm dependencies, they will get errors. Their app might also not behave properly - not serving assets.

[2015-05-15 20:55] paulcsmith commented on #169
@josevalim I don't think there's anything pending from you. I'm not sure what people can do to help. Maybe put together a markdown doc of suggested content that we've come up with here? Then I can style it and rewrite, etc.

Mostly I just need more time. This week and the next couple are pretty crazy for me. It'll likely take 1-2 months to get the content and design dialed in. Of course we'll see

[2015-05-16 06:59] josevalim commented on #169
Is it ok if we get some more help here then? Because in 1-2 months we are getting really close to Phoenix 1.0 and we should be ready on this front. From the design perspective, what is the biggest missing block? Is it the three column-based subheadings? Is there anything else you would like to see?

[2015-05-16 14:35] paulcsmith commented on #169
Absolutely. Don't let me hold up the project!

I can chip in with feedback as it comes along. It would be nice if we keep a PR open as it goes for feedback purposes though.

Design should be fairly straightforward. I wanted to add some benchmarks or graphs, but it's not necessary. I might be able to help with those later. We don't even need three column subheadings. We could just do a single colum

[2015-05-17 03:33] chrismccord opened #250 "Update guides to 0.13.1"
Nothing major here we just need the mix archive link and version bumped. Thanks!

[2015-05-17 16:23] #247 closed

[2015-05-17 16:30] #250 closed

[2015-05-17 16:36] gjaldon opened #254 "Need to cover cross-compiling releases in exrm in the Advanced Deployment guide"
When doing a `mix release` in an OSX environment and then deploying that release to a different environment such as Ubuntu, you'll encounter the ff errors like the ff:

[code]

We'll need to mention this in the advanced deployment guide. Below are some resources I gathered on this:
https://github.com/bitwalker/exrm/pull/99
http://erlang.org/doc/installation_guide/INSTALL-CROSS.html#Build-and-Insta

[2015-05-18 15:39] #169 closed

[2015-05-18 15:48] josevalim commented on #235
:+1: for blog post. The news section already has a link on the menu and it has been a while since has been last updated.

[2015-05-18 15:56] josevalim opened #259 "Improve our calls to action"
Somehow a follow up to #169.

Today, we have four call to actions on our page.

* Guides (up and running)
* Guides (up and running)
* Guides (channels)
* Elixir

We should improve this. At least, the channels call to action should be something more actionable, like running an existing application or an "up and running" focused on using channels. This may be too much work though, so I am all in for

[2015-05-18 18:09] lancehalvorsen commented on #259
Definitely agree on all of this.

I would also like to add two new headers to the left nav - "Testing" and "Deployment". Testing would be all new files; the directory structure in the repo already reflects this. Deployment would mimic that and move the deployment related guides into it from "Guides". This would leave the more "core" guide files under the Guides header. (Maybe rename "Guides" to "C

[2015-05-18 18:38] paulcsmith opened #260 "Add changes to test_helper in `upgrading from 0.11.0`"
http://www.phoenixframework.org/v0.13.1/docs/upgrading-from-v0110 does not mention the changes to https://github.com/phoenixframework/phoenix/commit/ed0343ed94e85228a26da289d5a2520a5a93bb0c (see test_helper.exs) which are required for the new `ConnCase` helpers. Without the restart transaction function being called the database does not clear correctly between tests.

See https://github.com/phoeni

[2015-05-18 20:12] paulcsmith commented on #260
The changes in `mix.exs` might also be needed. Otherwise the new files for `MyApp.ConnCase` won't be loaded in the test env

I can add this to readme.io if it looks good:

[code]

[2015-05-18 20:46] lancehalvorsen commented on #259
For the link to the Channels Guide:

Now  that we have a channel generator, we could re-work that guide to behave more like the Ecto Models Guide - sort of a Let's Build a Channel Together kinda thing. That way, it would feel more like an Up and Running for Channels.

[2015-05-18 20:47] lancehalvorsen commented on #260
Would that be upgrading from 0.11.0  or 0.12.0?

[2015-05-18 20:50] lancehalvorsen commented on #259
Thoughts on the left nav. What about this flow?

- Guides
- Testing
- Deployment
- Bonus Guides  (or maybe just "Extras"?)
  - move the upgrading.* entries to the "News" as @josevalim suggested
  - combine "Documentation" entries with "How To" entries. re-order/weed as needed

[2015-05-18 20:51] paulcsmith commented on #260
Not positive. I know that it is needed to make 0.11.0 -> 0.12.0 work. Otherwise the ConnCase helpers that it says to add will not work correctly.

[2015-05-18 20:56] lancehalvorsen opened #261 "Update Mix Tasks Guide with New Tasks"
There are a number of new mix tasks which we need to document in the Mix Tasks Guide. There are also a few other tweaks to catch up with as well.

- add phoenix.gen.json
- add phoenix.gen.channel
- add phoenix.gen.model
- add phoenix.digest
- tweak phoenix.gen.html - expand explanation to include --no-model
- tweak phoenix.gen.html task to include test files generated
- replace list of phoenix tas

[2015-05-18 20:57] lancehalvorsen commented on #260
I'm not positive either. I'll get a chance to check this evening. If you get a chance to check before then, that would be much appreciated.

I definitely want to add this, just want to make sure it gets to the right place.

[2015-05-18 21:06] paulcsmith commented on #260
Both the test_helper and mix.exs changes should be in the upgrade from 0.10.0 guide. Both were added in 0.11.0

The elixic_paths stuff is for the upgrade from 0.10.0 guide. It's in Chris's gist, but not in Readme.io

https://gist.github.com/chrismccord/3603fd2735019f86c74b
http://www.phoenixframework.org/v0.13.1/docs/upgrading-from-v0100

It looks like the `test_helper` stuff was also added in 0.1

[2015-05-18 21:08] paulcsmith commented on #260
Might be helpful to add a note at the end of the "upgrading from Phoenix 0.11.0" guide though. Something like "Be sure to make the test_helper and mix.exs changes mention in 0.10.0 (since it was accidentally left out). Maybe that's redundant though?

[2015-05-19 03:05] lancehalvorsen commented on #260
Thanks so much for checking, @paulcsmith. If you're still willing to update readme.io, that would be fabulous! Thanks again! <3 <3 <3

[2015-05-19 08:04] josevalim commented on #259
That sounds great to me. I think we need one section though that will come before the Guides which is "Important links" (or another better name). Right now it should contain the "Community" page but I can imagine a "Learning" page coming soon as Phoenix books start to show up. Maybe we could move "Install" as a special page in there too. Out of the guide.

[2015-05-19 14:01] paulcsmith commented on #260
Yep I can do that tonight or tomorrow! :D

On Mon, May 18, 2015 at 11:05 PM, Lance Halvorsen
<notifications@github.com> wrote:

[2015-05-19 15:03] lancehalvorsen commented on #260
:+1:

[2015-05-19 15:07] lancehalvorsen commented on #259
Agreed. How about this?

- Introduction
  - Overview (current version, moved from Guides)
  - Installation (may overlap a lot with Up and Running, we'll see)
  - Learning (for now, we can extract stuff from Resources)
- Guides
- Testing
- Deployment
- Bonus Guides

[2015-05-19 20:19] josevalim commented on #259
Sounds good to me! Overview can be guides in though. The first step of the guides. But anywhere is fine really. :)

[2015-05-19 21:11] lancehalvorsen commented on #259
:+1:

[2015-05-21 15:04] paulcsmith commented on #260
@lancehalvorsen I added it here: http://www.phoenixframework.org/v0.13.1/docs/upgrading-from-v0100#section-test-helpers

If it looks good I'll close this issue :)

[2015-05-21 15:10] lancehalvorsen commented on #260
@paulcsmith Thanks so much for this!

[2015-05-21 15:10] #260 closed

[2015-05-22 20:42] ugisozols commented on #261
I'd like to work on this :) (just saying to check if someone else might be working on it already).

[2015-05-22 21:46] lancehalvorsen commented on #261
Please do!  :)

[2015-05-23 12:03] ugisozols commented on #261
- [ ] add phoenix.gen.json
- [ ] add phoenix.gen.channel
- [ ] add phoenix.gen.model
- [ ] add phoenix.digest
- [ ] tweak phoenix.gen.html - expand explanation to include --no-model
- [ ] tweak phoenix.gen.html task to include test files generated
- [ ] replace list of phoenix tasks at the top

[2015-05-24 11:07] citizenparker opened #268 "Advanced Deployment Guide overrides port configuration"
Unless I'm missing something obvious, the way the advanced deployment guide recommends to set a default port doesn't work.

The guide currently recommends this:
[code]

The wording makes me believe that it intends to set a default value of port 4001 when `PORT` is not passed in as an environment variable. However this _always_ sets the port to 4001, even when I specify the port via environment var

[2015-05-24 19:57] lancehalvorsen commented on #268
@citizenparker Thanks for pointing this out. You are correct, this is a documentation bug.

For now, you can remove the `http: [port: 4001]` line from `config/prod.exs` as long as you set a `PORT` environment variable before creating the release.

Sorry for any confusion this caused.

Currently, I am deep in the middle of a new set of testing guides, but revamping the entire way we document deploy

[2015-05-24 20:06] citizenparker commented on #268
Wish I could! I don't know what the right recommendation here would be without diving into how exrm's conform dependency works. I gave up on this approach prior to getting too deep into that though.

[2015-05-26 21:36] #268 closed

[2015-05-28 16:18] paulcsmith opened #277 "How to use web.ex"
It might be good to add a guide about using web.ex. It's very powerful, but also easy to abuse.
- How to customize controllers, views and channels
- What to put in them and what not to put in them
- Gotchas and pitfalls

For instance this bit of wisdom from @chrismccord

I'd love to see that in a guide somewhere. I can start tackling this, but won't have time for a couple weeks so if someone wants

[2015-05-28 17:09] lancehalvorsen commented on #277
I'm all for this - clarity + helping people avoid problems.

I will be working on other areas of the guides for at least a few weeks as well. Pull requests from interested readers are welcome!

[2015-06-04 22:51] 0xMF opened #283 "HOWTO host phoenix_guides locally and browse when on the road"
I'm new to phoenix. I want to learn phoenix using [phoenix_guides](https://github.com/phoenixframework/phoenix_guides). How do I host these guides locally and browse them as I will be on the road much. Any help would be much appreciated.

Of course, I am comfortable with reading the actual markdown files directly but I'd rather get the rendered html with linking using the style sheets when I'm lea

[2015-06-04 23:36] 2kodes commented on #283
hi @0xMF ,

 if you have wget installed you can use the following to get or download the www.phoenixframework.org  site so you can have it online. ;)

wget  --mirror  --page-requisites  --convert-links  --recursive  --adjust-extension -p -w 2  -e robots=off  --no-check-certificate  --html-extension   -t 100000   --no-cookies  www.phoenixframework.org/
Since most of the time the website is updated

[2015-06-04 23:41] lancehalvorsen commented on #283
@2kodes, you were replying just as I was. :)

@0xMF, if you're just interested in the content and links aren't that important, you can clone the repo and use a markdown editor to read the files.

[2015-06-05 03:28] 0xMF commented on #283
@2kodes @lancehalvorsen thank you for your responses.

Yes, I have read these markdown files using vim and I know I can download the phoenix docs website itself, but I wanted to know whether phoenix itself (or one of the tools bundled with phoenix) could be used to render the markdown files in phoenix_guides. So what I am asking is

1. install phoenix (done)
2. clone phoenix_guides (done)
3.  ?? (

[2015-06-05 04:35] lancehalvorsen commented on #283
@0xMF ah, I see. We use http://readme.io/ for the phoenixframework.org site. readme.io allows us to input markdown files along with some custom css into their application, which transforms it into the site you see.

We don't have a Phoenix/Cowboy/Elixir command to do this at the moment, but I would love it if one existed. :^)

[2015-06-05 10:38] 0xMF commented on #283
@lancehalvorsen Heh! I thought phoenix was used everywhere...lol so I expected there would be a phoenix command to render these docs that I didn't know about.

Anyway, since these are markdown files I found example 3 in [pandoc](http://pandoc.org/demos.html) to be good enough to generate html files. In fact I could create a decent html page using the following command

[code]
While not an exact du

[2015-06-05 20:40] lancehalvorsen commented on #283
@0xMF you're welcome. Hope you have a great experience learning Phoenix!

[2015-06-05 20:40] #283 closed

[2015-06-07 11:28] optikfluffel opened #284 "Why has phoenixframework.org to be that slow?"
It's only kind of _a first world problem_ but navigating through the page is really slow. I also heard this complaint a couple of times when I was trying to show friends how awesome Phoenix is (and/or read that on Twitter from people I follow). The latency for the document itself is about 1.5 seconds, sitting in Germany.
Added to this I don't really get why we need to load more than 1MB of Javascr

[2015-06-07 20:27] lancehalvorsen commented on #284
Hi @optikfluffel,
The guides are currently hosted with readme.io, so I can't really speak to performance or implementation questions. We made this decision last year as it allows us to focus on writing and documenting Phoenix itself instead of re-implementing features we get from readme.io - new versions with a few clicks, suggested edits from readers, new topics and pages with a few clicks, and s

[2015-06-07 20:27] #284 closed

[2015-06-07 22:08] optikfluffel commented on #284
![ok](http://www.reactiongifs.com/wp-content/uploads/2013/05/yep.gif)

[2015-06-08 08:39] ugisozols commented on #261
This can be closed as https://github.com/phoenixframework/phoenix_guides/pull/269 was merged.

[2015-06-08 19:43] lancehalvorsen commented on #261
Thanks for the reminder! I also just updated the phoenixframework.org site.

[2015-06-08 19:43] #261 closed

[2015-06-10 00:40] radar opened #285 "How do I generate this documentation?"
There's no info in the README on how to generate this documentation. I think there should be. Let me know the commands and I'll submit the patch to fix that up :)

[2015-06-10 00:41] chrismccord commented on #285
dup of https://github.com/phoenixframework/phoenix_guides/issues/283 . I think you'll find a couple solutions over there

[2015-06-10 00:41] #285 closed

[2015-06-18 23:01] lancehalvorsen commented on #259
Ok, I think this is finally covered. I'll leave this open for a while until folks are back from NDC Oslo.

Here's what I've done, all of it is live on the site:
- Renamed top left nav subhed "Introduction"
  - moved "Overview" up into it
  - pointed the "Guides" link in top nav to it instead of "Mix Tasks"
  - added a new "Installation" guide with extracted bits from "Overview"
  - re-worked the "

[2015-06-19 00:33] lancehalvorsen commented on #214
I believe this is now complete between these two pages:
http://www.phoenixframework.org/v0.13.1/docs/resources
http://www.phoenixframework.org/v0.13.1/docs/learning-elixir-and-erlang

[2015-06-19 00:33] #214 closed

[2015-06-19 09:22] josevalim commented on #259
Hey @lancehalvorsen, I have just went through everything and it is really, really, really good. Fantastic work here!

[2015-06-19 15:10] lancehalvorsen commented on #259
Thanks so much @josevalim! Very, very nice to hear such positive feedback. :heart:

[2015-06-19 15:10] #259 closed

[2015-06-19 15:20] lancehalvorsen opened #293 "Move Using MySQL to Bonus Guides"
Extract this section from the Ecto Models Guide and create a new guide for it in Bonus.

[2015-06-19 16:02] jeregrine opened #294 "Path functions insert && with empty maps"
I know I've seen this before, but I haven't been able to isolate the issue specifically

[code]

[2015-06-19 16:04] jeregrine commented on #294
Also I know the map has some weirdness in it, just wanted to get it down so that I don't forget it :)

[2015-06-19 16:57] lancehalvorsen commented on #294
Thanks @jeregrine.

Github Issues as the new Evernote? ;)

[2015-06-19 16:58] jeregrine commented on #294
SHOOT I thought for sure I clicked the phoenix repo :( sorry.

[2015-06-19 16:58] #294 closed

[2015-06-19 16:58] jeregrine commented on #294
Now here https://github.com/phoenixframework/phoenix/issues/973 :P

[2015-06-19 19:49] lancehalvorsen commented on #294
:) no worries!

[2015-06-23 19:15] ACPK opened #297 "Tutorial Request: Call for retrieving all items which have certain attribute"
I've followed along a Todo tutorial, http://learnelixir.com/blog/2014/10/30/real-time-to-do-list-with-phoenix-channel, but can't seem to grab all items that meet a certain attrubute with the latest version of Phoenix. Here is the code below that isn't working.

    def index(conn, _params) do
     messages = Repo.all(Message
       |> where([message], message.state == "new"))
     render(conn, "in

[2015-06-24 03:07] #297 closed

[2015-06-26 13:40] 2kodes opened #298 "persist/2 in D_controllers.md not available in Phoenix docs"
Hi,
Reading through the chapter on controllers i found the lines below.

"Besides put_flash/3 and get_flash/2, the Phoenix.Controller module has two other useful functions worth knowing about.

persist/2 takes conn and value. It allows us to save that value as a flash message in the session so that it can persist beyond the current request cycle."

Searching through phoenix docs however i could no

[2015-06-26 17:27] lancehalvorsen commented on #298
Thanks @2kodes! I'll take a look at this tonight. If you happen to figure out what this should be before then, a pull request would be really great!

[2015-06-27 04:01] lancehalvorsen commented on #298
@2kodes thanks again. You are absolutely correct. There is no new public function to take the place of `persist/2`, so I deleted the reference.

[2015-06-27 04:01] #298 closed

[2015-06-27 07:10] 2kodes commented on #298
You are welcome Lance..
Had Internet issues yesterday so couldn't respond..
Great job with the docs..  :)

[2015-06-27 16:07] chrismccord opened #299 "Use full Phoenix.Transports.WebSocket alias in channel guides `:via` option"
ref https://github.com/phoenixframework/phoenix/issues/989

[2015-06-27 17:10] #299 closed

[2015-06-30 04:00] #98 closed

[2015-06-30 04:04] #293 closed

[2015-06-30 10:29] zigomir opened #305 "Deployment introduction in wrong place"
![phoenix-deployment-introduction](https://cloud.githubusercontent.com/assets/957321/8428932/4cb40530-1f23-11e5-8d40-2d76897921d0.png)

Currently on [http://www.phoenixframework.org/v0.14.0/docs](http://www.phoenixframework.org/v0.14.0/docs) deployment introduction page is at wrong place in navigation menu.

Also, I think url could be /v0.14.0/guides instead of /v0.14.0/docs. Is there a repository

[2015-06-30 15:37] lancehalvorsen commented on #305
Thanks for reporting this @zigomir!

Apparently, when I created the new version in readme.io, quite a few files switched position in the left nav. All fixed now.

[2015-06-30 15:37] #305 closed

[2015-06-30 15:39] lancehalvorsen commented on #305
Oh, and I forgot your second question. I'll have to look more closely into readme.io, but I think that path (version/docs) is set for us in their application.

[2015-07-03 07:12] nettofarah opened #312 "Troubleshooting guide"
Would it make sense to have a troubleshooting section?

I was just trying to run phoenix on a brand new ubuntu machine today and ran into 3 different problems.
I'd love to write down the explanation and solution for each one of them but I can't necessarily find the best spot to include them.

[2015-07-03 20:26] lancehalvorsen commented on #312
I think this would be a great idea! My sense is that it should be in the "bonus guides" directory, and I think that "Troubleshooting Guide" would be a fine name.

If you're up for submitting a PR to get this started, that would be great and much appreciated! Since you've had issues recently, and they are still fresh in your mind, you're in a really good position to do this. :)

[2015-07-03 21:32] nettofarah commented on #312
That's great to know, @lancehalvorsen.
I'm gonna try to put something together soon.

Thanks

[2015-07-03 21:34] lancehalvorsen commented on #312
:+1:   Thanks!

[2015-07-04 16:34] mpahrens opened #313 "Upgrade instructions from 0.13.x -> 0.14"
Following the Instructions here:

http://www.phoenixframework.org/v0.14.0/blog

I hit the following error:
`Looking up alternatives for conflicting requirements on phoenix`
  `Activated version: 0.14.0`
 ` From phoenix_live_reload v0.4.0: ~> 0.13.0`
  `From mix.exs: ~> 0.14`
`** (Mix) Hex dependency resolution failed, relax the version requirements or unlock dependencies`

Because the version of p

[2015-07-04 19:32] lancehalvorsen commented on #313
@mpahrens thanks so much for reporting this! I think that since this problem occurs around a specific version number during an upgrade, the news section is the way to go.

I'll be doing some small updates to the site later today, and will take care of this then.

Thanks again. This is the kind of thing that can really help people out. <3

[2015-07-05 05:08] lancehalvorsen commented on #313
Thanks again. This is now live on phoenixframework.org.

[2015-07-05 05:08] #313 closed

[2015-07-05 05:11] lancehalvorsen commented on #235
This is linked to in the "Learning" guide.

[2015-07-05 05:11] #235 closed

[2015-07-08 04:48] mpahrens commented on #254
This probably doesn't help, but I hit this issue today deploying my phoenix app to a raspberry pi (compiled on ubuntu) and this issue was how I figured out what was wrong :) Thanks for the issue and I look forward to the updated guide!

[2015-07-10 18:32] bitwalker commented on #254
See the solution in bitwalker/exrm#163, basically the steps are as follows:

1. Add `exrm` to your project
2. `$ mkdir -p rel && vim rel/relx.config`
3. Add `{include_erts, <path to lib/erlang>}`
4. Run `mix release`

So for example, on my OSX machine, I have Erlang 17.5 installed with Homebrew, and the path I would add to `relx.config` to use it is: `/usr/local/Cellar/erlang/17.5/lib/erlang`. You

[2015-07-14 19:27] chrismccord opened #320 "Add Task.Supervisor guides"
// @jeregrine

[2015-07-17 02:11] chrismccord opened #322 "File upload guide should reference Plug.Parser options"
The guide should reference Plug.Parser options for common gotchas that folks run into with uploading large files and how to resolve them. We should mention the following options:

  * `:length` - sets the max body length to read, defaults to 8_000_000 bytes;
  * `:read_length` - set the amount of bytes to read at one time, defaults to 1_000_000 bytes;
  * `:read_timeout` - set the timeout for each

[2015-07-20 17:19] chrismccord opened #326 "Confusing wording in installation guide"
A new user thought this meant they were supposed to run `mix debs.get` as the next step after archive.install. Can we tweak the wording here to clarify?

[2015-07-22 03:55] #326 closed

[2015-07-26 21:11] chrismccord opened #329 "Prep guides for 0.15 release"
I will tackle all non-ecto related changes, but I could use some help on the Ecto side as I've been heads down in channel work with the recent ecto changes. @lancehalvorsen have you started any updates in this area? I think @jeregrine is set to begin the updates if not.

[2015-07-26 21:11] jeregrine commented on #329
Working on ecto now.

[2015-07-26 21:12] jeregrine commented on #329
@lancehalvorsen looks like its already good! :+1:

[2015-07-26 22:37] chrismccord commented on #329
Our controller generators use the non-bang variant with a case expression, so we need to bump those bits still

[2015-07-27 03:22] lancehalvorsen commented on #329
I just merged @josevalim's PR for the Ecto Models Guide which should include the non-bang variants plus case expression. I'll look in the Mix Tasks Guide for any lingering changes.

/ @chrismccord @jeregrine

[2015-07-27 03:28] lancehalvorsen commented on #329
Also, as I read through your Channel Guide PR @chrismccord, seems like the Channel Routes section of the Routing Guide needs to go away too, yes?

[2015-07-27 04:31] lancehalvorsen commented on #329
Once we merge PR 330, there are four files we need to push to the site:
- Ecto Models
- Routing
- Channels
- Mix Tasks

[2015-07-27 14:47] lancehalvorsen commented on #329
I just bumped the version number for the archive in the Installation Guide as well. Now there are five files to push.
* Installation

[2015-07-27 15:08] lancehalvorsen commented on #329
I created a new version and moved over the changed docs. I also created a new blog post for update instructions. I haven't incorporated any of the comments to the upgrade gist yet, though. @chrismccord if you do incorporate them into the gist, let me know and I'll update the blog post. Otherwise, I'll verify and update as I get a chance.

I think this one is a wrap!

[2015-07-27 15:08] #329 closed

[2015-07-27 15:23] felipesere commented on #254
Do I need to have erlang installed on `<path>` on my host machine?
I have the following in my `relx.config`:  `{include_erts, '/usr/lib/erlang/lib'}.`
which matches the path in my Alpine Linux container.
When I do `mix release` now I get an error...

[2015-07-27 15:24] mpahrens commented on #254
I did. I had to have a copy of the erlang that my target machine is going to use on the dev machine because it wants to grab it at compile time.

[2015-07-27 15:53] bitwalker commented on #254
@felipesere When you set `{include_erts, "path"}`, path must refer to the location of the Erlang installation *which was built on the container or compatible architecture*. When you provide a path to `include_erts`, you are saying, "bundle the ERTS located at the given path when packaging this release". Meaning you need to build or install Erlang on your container or a Linux VM, then copy the inst

[2015-07-27 16:07] felipesere commented on #254
Setting it to `false` and not running `--dev` made the difference.
Thanks!
I think while a bit riskier, it is the better solution. Otherwise I have to have all my teammates put the Erlang in that path...

[2015-07-27 16:23] bitwalker commented on #254
@felipesere Yes I'd say always use `{include_erts, false}` when deploying to another architecture than the build machine, unless you have need to bundle a cross-compiled ERTS (for instance if you have NIFs or dependencies with NIFs). It's not that it's riskier per se, just that it simply won't work, but it's certainly the lowest barrier to entry of the two options.

[2015-07-27 16:33] chrismccord commented on #329
Thanks Lance! I'll handle the blog update side.

[2015-07-27 16:39] lancehalvorsen commented on #329
Awesome! Thanks, Chris.

[2015-07-29 22:43] edmz opened #331 "Links on the guides are not obvious"
The current style of the links, at least in the body of the document, makes them really hard to notice. They are not visible at a quick glance and sometimes are hard to notice due to the different shades of gray(ish) found in the text.

<img width="514" alt="screen shot 2015-07-29 at 5 37 36 pm" src="https://cloud.githubusercontent.com/assets/18996/8971783/39579030-3619-11e5-9be5-f2720fccd291.png"

[2015-07-30 03:51] lancehalvorsen commented on #331
Thanks for bringing this up, @edmz. As it happens, I'm not a designer either. :)

We host the guides with readme.io, which is a documentation-as-a-service company. Changing the css is a little more involved than opening a file on the filesystem and tweaking some values. I will look into this when I get a chance.

[2015-07-30 18:53] peter opened #332 "The Heroku deployment guide is broken since HOST is nil on Heroku"
I'm not sure what the proper fix for this is but the deploy didn't work for me since System.get_env("HOST") is nil on Heroku. I worked around this by doing:

heroku config:set HOST=myapp.herokuapp.com

Is the host needed in the prod config?

[2015-07-30 21:18] lancehalvorsen commented on #332
Hi @peter, I'm curious, did you use the app name that Heroku generated for you, or did you give it a custom one?

[2015-07-31 08:34] josevalim opened #333 "Should we list versions for Phoenix and so on in snippets?"
Some guides, like [the exrm one](http://www.phoenixframework.org/docs/advanced-deployment), lists all deps:

[code]

Because of the version numbers, I am afraid it can be confusing. Should we change it to something like:

[code]

Or it is unlikely it would be confusing? Just give me a heads up and I can change this.

[2015-07-31 09:47] #322 closed

[2015-07-31 14:59] lancehalvorsen commented on #333
I'm on the fence about this. On the one hand, having explicit version numbers sometimes helps people see that they have a problematic mix of versions in their own project, especially after upgrading.

On the other, these numbers are clearly brittle and many are probably out of date in these guides. Maintenance is key, but also quite

On the third hand (?!), people have been good in the past about

[2015-07-31 16:01] josevalim commented on #333
Ok, you have definitely thought about this, so let's keep the versions. Things are supposedly going to calm down soon anyway. :) Thanks @lancehalvorsen!

[2015-07-31 16:01] #333 closed

[2015-08-01 21:36] #332 closed

[2015-08-01 23:56] chrismccord opened #337 "Channel guides should include token auth examples"
We have doc'd it here in phoenix, so should be a matter of transplanting:

https://github.com/phoenixframework/phoenix/blob/master/installer/templates/static/brunch/socket.js

[2015-08-05 08:01] josevalim commented on #155
I am closing this because I have discussed most of them in the introduction to deployment guide. We may still need to improve the EXRM guides in some ports so PRs are still welcome.

[2015-08-05 08:01] #155 closed

[2015-08-05 08:30] leikind commented on #277
What can be said about it, really? Not much. web.ex is mentioned at least one time in the guides, and once you open it it becomes clear what it is. Its only purpose is to gather together all alases and imports for each type of web modules Phoenix has. The comment clock in the beginning of this file says it all.

[2015-08-07 02:53] schainker opened #341 "expand ecto guides to include "advanced" topics"
It took some munging to figure out how to use `mix phoenix.gen` to add arrays and maps to the ecto models at the command line, and there is more work to make sure the protocols are implemented correctly.  Might be useful for people who want to use `phoenix.gen` to generate models that take advantage of these features.  Since I don't think it fits under "basic" ecto usage, should the guides include

[2015-08-07 02:56] chrismccord commented on #341
Yes this is something we have planned, but all contributors have been pretty busy as of late prepping things for 1.0. If you could draft an initial version and send a pull request, that would be great. We should have an expansion on the Ecto guides around associations very soon, but the arrays and maps  features could use a writeup

[2015-08-07 03:42] schainker commented on #341
Sounds good, I'll get to work on it.

[2015-08-07 03:53] lancehalvorsen commented on #341
I love to read things like your last comment. <3 Thanks @schainker!

[2015-08-08 13:52] leikind commented on #246
Please have a look at https://gist.github.com/leikind/97822f34376c908d56ee .

I know, it doesn't answer all the questions you listed, like the one about deployment or using other asset management systems, but would you consider it  as a starting point?

[2015-08-08 19:19] leikind commented on #246
I added a section on using another asset build tool.

[2015-08-08 19:28] paulcsmith commented on #246
@leikind That is really helpful. I think another important section would be "Working with third party libraries". Things like integrating with bower or npm, etc. There are some guides n Brunch, but the guides are *so big* it's hard to find what the recommendation is and where to look

[2015-08-08 19:36] leikind commented on #246
my idea was to keep the guide short and to only give a certain minimum info for getting started. I believe Brunch docs are pretty good and it doesn't feel right to duplicate them. But I did list other functionalities Brunch offers, bower integration among them.

[2015-08-08 19:38] paulcsmith commented on #246
Yeah that's a good point, but I don't think it would hurt to link to the actual page so people don't have to go look for it. What do you think?

[2015-08-08 19:45] leikind commented on #246
I agree. I added links to the section on bower integration and split targets.

[2015-08-08 19:49] Alamoz opened #344 "Explanation of how to use ^params in controller"
I'm opening this issue because I'm stuck on a problem, but also because this should be explained in the documentation for controllers. Perhaps it is apparent for experienced Elixir users, but the compiler error message implies this is perhaps unique to Phoenix.

I have a controller where I want to apply a branching condition using one of the request parameters. The compiler doesn't like this and i

[2015-08-08 20:07] lancehalvorsen commented on #246
Hi @leikind and @paulcsmith. You both seem to have ideas about how this guide should be structured. Either of you care to take a shot at it? A PR would be greatly appreciated!

[2015-08-08 20:09] leikind commented on #246
@lancehalvorsen , I did write a draft version of the guide https://gist.github.com/leikind/97822f34376c908d56ee . If you find it a good starting point I can make a PR.

[2015-08-08 20:17] lancehalvorsen commented on #246
Ah, sorry! I missed that part. I should get a chance to look at it before the end of the weekend. Thanks!

[2015-08-08 20:21] leikind commented on #246
Allright. Then I'd better wait for your feedback

[2015-08-08 20:40] lancehalvorsen commented on #344
Hi @Alamoz, this is actually normal Elixir behavior you are seeing. A match clause has the match operator, which is the equal sign, in it. Pattern matching can also happen in a function head. Your example doesn't do any pattern matching.

If you want to use `cond`, you could do this:
[code]

You could also use `case` like this:
[code]

Also, prepending an underscore to a variable conventionally me

[2015-08-08 20:40] #344 closed

[2015-08-08 20:46] lancehalvorsen commented on #344
Oh, and the upper caret symbol `^`  - aka the "hat operator" - is only needed for variables used on the left hand side of pattern matches to make sure they don't get re-bound to new values.

[2015-08-08 20:47] Alamoz commented on #344
Thank you so much. I have three Elixir books, but Phoenix has been working so well for me I have hardly looked at them! Pretty cool, that you can use a framework without even understanding the language.

[2015-08-08 20:50] lancehalvorsen commented on #344
:+1:

[2015-08-08 21:00] Alamoz commented on #344
Looks like the carat symbol (^params["foo"]) is also required in Ecto queries even when on the right hand side, perhaps because the variable is embedded in the query string.

[2015-08-08 21:00] lancehalvorsen commented on #246
Ok, I got curious and decided to ignore the thing I really should be doing and read your gist @leikind, which is awesome! :^) Please do send a PR!

I would make one general comment that you might want to consider before submitting it. We have a convention in the guides to use "we" and "our" wherever possible instead of "you" and "your". This is a subtle difference, but my hope is that it creates a

[2015-08-08 21:02] lancehalvorsen commented on #246
Ah, and I forgot. There is a placeholder for this guide here:
https://github.com/phoenixframework/phoenix_guides/blob/master/bonus_guides/G_static_assets.md

Please use that file for your PR.

Thanks so much! <3 <3 <3

[2015-08-08 21:27] leikind commented on #246
you → we : point taken

PR submitted

[2015-08-13 06:12] denisw opened #350 "Mention more supported databases in Ecto guide"
Currently, the Ecto guide only says that only PostgreSQL and MySQL adapters exist for Ecto. However, the [README of Ecto](https://github.com/elixir-lang/ecto) also links to MSSQL ans SQLite adapters. It would be nice if these were mentioned too, so that people who need support for these databases know that Phoenix and Ecto can help them.

[2015-08-14 04:37] lancehalvorsen commented on #350
@denisw, thanks for bringing this up. I agree. Care to submit a PR? :^)

[2015-08-17 20:34] #350 closed

[2015-08-18 03:49] #246 closed

[2015-08-19 04:05] chrismccord opened #354 "References migration uses wrong field name"
I believe this needs to use `user_id` instead of `user`, unless this changed recently?

    mix phoenix.gen.model Video videos name:string approved_at:datetime description:text likes:integer views:integer user:references:users

[2015-08-19 04:41] reklawnos commented on #354
This might give some insight into this issue. Following the tutorial and using
[code]
Works just fine, and using:
[code]
Works too, but using `phoenix.gen.html` and `user:references:users` instead causes these errors when running `mix test`:
[code]

[2015-08-19 08:32] chrismccord opened #355 "Add guide on using non-js channel clients"
We don't need a ton of code samples or walkthrough, more informational with links to clients

objc: https://github.com/livehelpnow/ObjCPhoenixClient
java: https://github.com/eoinsha/JavaPhoenixChannels
c#: https://github.com/livehelpnow/CSharpPhoenixClient

[2015-08-19 15:11] lancehalvorsen commented on #354
This is fixed (changed to `user_id`) and pushed to phoenixframework.org.

@reklawnos, the generator and migration will "work" in that they won't throw errors, but they generate a column called `user` instead of `user_id` in the `videos` table. This will blow up whenever we try to use the Ecto associations, which will expect `user_id`.

Thanks for reporting!

[2015-08-19 15:11] #354 closed

[2015-08-19 19:10] Alamoz opened #356 "Endpoint breaks when upgrading from Phoenix 16 to 17.0"
Just tried upgrading from version 16 to 17, following the guide at http://www.phoenixframework.org/v0.10.0/blog. When I try to run the app the following error is thrown:

== Compilation error on file lib/myapp/endpoint.ex ==
** (CompileError) lib/myapp/endpoint.ex:1: function router/2 undefined
    (stdlib) lists.erl:1337: :lists.foreach/2
    (stdlib) erl_eval.erl:669: :erl_eval.do_apply/6

The a

[2015-08-19 19:27] chrismccord commented on #356
Noted on the guides. Thanks

[2015-08-19 19:27] #356 closed

[2015-08-23 07:21] chrismccord commented on #331
Bump. I was just browsing the guides and the links are really quite muted. Can we get a css tweak @jeregrine or @paulcsmith ?

[2015-08-25 18:48] paulcsmith commented on #331
I can take this one. Should be a pretty quick fix! Thanks for the suggestion @edmz

[2015-08-25 22:58] #331 closed

[2015-08-27 14:27] paulcsmith opened #361 "Font-size bump for the sidebar and body content. It seems a bit small"
From a comment by @chrismccord on #359

I'll see if I can tackle this sometime soon. I will assign myself when I do. Someone else can take over if they feel they want to and have the time :)

[2015-08-28 14:56] chrismccord commented on #361
Done!

[2015-08-28 14:56] #361 closed

[2015-08-28 14:56] paulcsmith commented on #361
:+1:

[2015-08-28 23:31] Alamoz opened #362 "Upgrade instructions for Phoenix 1.0"
Are you going to post upgrade instructions for 1.0? Thanks!

[2015-08-28 23:38] lancehalvorsen commented on #362
I don't believe there are any upgrade instructions. There is a new installation archive, but I think that's it.

I'll leave this open for a bit so others can comment in case I got that wrong.

[2015-08-29 00:09] Alamoz commented on #362
Should we use phoenix_ecto 1.1.0? So with my 0.17 app, do I change this:

  defp deps do
    [{:phoenix, "~> 0.17"},
     {:phoenix_ecto, "~> 0.4"},
     {:postgrex, ">= 0.0.0"},
     {:phoenix_html, "~> 1.1"},
     {:phoenix_live_reload, "~> 1.0"},
     {:cowboy, "~> 1.0"},
     {:exrm, "~> 0.15.3"}]
  end
end

To This:

  defp deps do
    [{:phoenix, "~> 1.0"},
     {:phoenix_ecto, "~> 1.1.0"},

[2015-08-29 00:15] Alamoz commented on #362
Or, are we supposed to create a new app and move over the code from the existing app?

[2015-08-29 02:31] Alamoz commented on #362
OK, so if you completely reinstall the 1.0 version of phoenix and create a new app, this is what mix.exs looks like (:exrm is no longer present):

  defp deps do
    [{:phoenix, "~> 1.0.0"},
     {:phoenix_ecto, "~> 1.1"},
     {:postgrex, ">= 0.0.0"},
     {:phoenix_html, "~> 2.1"},
     {:phoenix_live_reload, "~> 1.0", only: :dev},
     {:cowboy, "~> 1.0"}]
  end

So I'm guessing there are other

[2015-08-29 02:38] chrismccord commented on #362
No! There are no changes required from 0.17 -> 1.0 other than bumping your phoenix dep. `:exrm` was never a dependency so you must have added it to your project. You don't need to generate a new project or copy any code. Simply bump phoenix to "~> 1.0.0" and mix deps.get

[2015-08-29 02:53] Alamoz commented on #362
What about :phoenix_html getting bumped to 2.1? Will the compiler automatically change that in mix.exs?

I went ahead and did a fresh install and it is OK. Don't know how :exrm got in mix.exs, it must have been part of the template at some point.

Thanks again, looks great!

[2015-08-29 03:09] Alamoz commented on #362
Ah, of course, :exrm was added to build releases. I only look at this app when you release upgrades. I'm using Phoenix for an api that serves json from Ecto queries and it works so well I don't even have to think about it, which means I also forget things about it.

[2015-08-29 17:38] lancehalvorsen commented on #362
Thanks @Alamoz, I'm going to close this now. As Chris said, just bump your version of Phoenix and re-get the dependencies.

[2015-08-29 17:38] #362 closed

[2015-09-08 08:37] clessg opened #372 "Use Ruby Syntax Highlighting?"
I've been reading through the Guides, and one thing that's a little jarring is the lack of code syntax highlighting. I assume this is because ReadMe.io doesn't have Elixir highlighting. So I was wondering if it might be possible to use Ruby syntax highlighting until they get support for it, considering how similar the languages are.

I apologize for being OCD.

[2015-09-08 16:51] lancehalvorsen commented on #372
Hi @clessg, no need to apologize! I can understand your hope for Elixir syntax highlighting, but I don't think that changing the markdown for the guides to use Ruby syntax is the best solution. Ideally, readme.io would support Elixir natively. If this is important to you, please get in touch with the folks from readme.io with your request. We've found them to be responsive in the past.

Good luck,

[2015-09-08 16:51] #372 closed

[2015-09-08 17:01] clessg commented on #372
Thank you for the kind reply! They weren't kidding when they said the Elixir community is full of nice people. I will try getting in touch with readme.io.

[2015-09-08 18:35] lancehalvorsen commented on #372
:^)  and  :+1:

[2015-09-18 01:06] chrismccord opened #376 "Add seeding data as bonus guide"

[2015-09-28 19:12] gjaldon opened #383 "Adding link to a screencast on deploying Phoenix to Heroku"
Hi there! I made a screencast for [Deploying Phoenix to Heroku](http://phoenixscreencasts.com/episodes/8-deploying-phoenix-to-heroku) and think it would be helpful to have it mentioned in the guides for Heroku Deployment.

What do you think?

[2015-09-29 16:34] lancehalvorsen commented on #383
Hi @gjaldon! Thanks for this suggestion. At this point, we're only linking to external content in the two "learning" guides, and I think we'll stick with that strategy. Even in those guides, we're only linking to Chris' long-form conference videos, iirc.

Thanks again for making this suggestion. :)

[2015-09-29 16:34] #383 closed

[2015-10-06 04:06] maxbeizer commented on #355
closed by #386 ?

[2015-10-06 04:45] Gazler opened #391 "Merge guides into phoenix repository"
At ElixirConf, @lancehalvorsen, @scrogson and myself were discussing merging the phoenix guides with the core repository. I had a quick go at this a few weeks ago - the branch is available at https://github.com/Gazler/phoenix/tree/merge-guides and the commit at https://github.com/Gazler/phoenix/commit/525c1afa68a5a62b933d5d331518812436e77c89

The goal of this is to remove the dependency of readme.

[2015-10-06 04:50] Gazler commented on #391
![phoenix](https://cloud.githubusercontent.com/assets/477511/10300425/2404be00-6bee-11e5-858f-b31e050cb4ab.png)

[2015-10-06 06:45] jeffkreeftmeijer commented on #391
I’d love to help out getting the guides into the main repository. It might be wise to branch off `master` in the phoenix_guides repository to work on getting the guides ExDoc-ready in there, though.

By the way, I've applied 525c1afa68a5a62b933d5d331518812436e77c89 locally and `git clone`d the phoenix_guides repository into `/guides` in the Phoenix repository. Which makes it quite easy to work on

[2015-10-06 17:38] lancehalvorsen commented on #391
@Gazler, thanks for creating this issue. This is definitely something we'd like to investigate. Having the docs and guides in near proximity, and with the same look and feel would be a really good thing. There are some things we'll need to consider, though. Do we want these to be in the same repo? Will guides commits tend to muddy the waters of the Phoenix code commit history? Will we be able to g

[2015-10-06 21:43] Gazler commented on #391
@lancehalvorsen @jeffkreeftmeijer Good points.

Once we know what needs to be done I can edit the tasks into the first comment of the issue.

I think the question of including the guides in the core repository is up to the core team. There are a few options:

 * __Single repository__ - issues and pull requests for the framework go into the same repository
 * __Two repositories same source__ - issu

[2015-10-09 21:59] tianyi33 opened #394 "Install nodej.s should mention nvm"
Node.js moves pretty fast. Recently io.js and node.js converged.
A couple of suggestions about installing node.js in the installation guide:

1. As mentioned above about the node.js and io.js merging. But this line in the guide might be confusing in the future for people never heard about io.js.

2. Should mention [nvm](https://github.com/creationix/nvm) for node.js installation. Very easy to inst

[2015-10-10 03:03] lancehalvorsen commented on #394
Hi @tianyi33, thanks very much for taking the time to submit this suggestion! My sense is that we don't want to get into too much detail about installing node in these guides. For all the external dependencies, we point to the download/installation resources for that dependency because they are the most likely to be up to date. And honestly, the node site itself doesn't even mention nvm for instal

[2015-10-10 03:03] #394 closed

[2015-10-10 15:12] chrismccord opened #395 "Documentation clarification for SSL"
ref https://github.com/phoenixframework/phoenix/issues/1258

[2015-10-10 17:39] alan-andrade opened #396 "Rework the current guides"
Hello everybody,

As I was skimming through the guides, I felt it was easy for me to get distracted or miss the point.
I believe there are some paragraphs where we can trim details and preambles so that the content can be absorbed faster. (Or this could be attributed to my not so great reading skills ;) )

Here is an example of what I have in mind.

The section [Adding Pages](http://www.phoenixfra

[2015-10-10 23:58] lancehalvorsen commented on #396
Hi @alan-andrade,

First, thanks so much for taking the time to write this up. You clearly care about the guides and want to make them better.

Here are my thoughts.

It's important to lay out the path that lies ahead for readers. It helps them prepare a skeleton of a mental model to hang all the coming details on. Introductory paragraphs have existed in non-fiction writing for a long, long time f

[2015-10-11 05:47] armed opened #397 "Search bar becomes too long on focus"
Hi, .focus class sets search bar's width to 250px, which makes browser(chrome, ff, safari) to move it below menu line.
<img width="518" alt="search-bar" src="https://cloud.githubusercontent.com/assets/223060/10415060/a79debe4-700b-11e5-927b-0cc3526dc65a.png">
Setting with to 240px fixes this issue.

[2015-10-11 13:51] tianyi33 commented on #394
:+1:

[2015-10-12 01:38] lancehalvorsen commented on #397
Thanks for reporting this, @armed! I wish that I could act on it. We currently host the guides with readme.io. We have access to customize some of the styling, but not all of it. This particular piece is out of our control - at least I was not able to find a way to change it in their application.

Thanks again for taking the time to let us know!

[2015-10-12 01:38] #397 closed

[2015-10-12 03:12] armed commented on #397
Hi, @lancehalvorsen. Thanks for quick reply.

I've just created my own account on readme.io and found "Custom CSS" option in admin panel.
<img width="1163" alt="screen shot 2015-10-12 at 9 08 35 am" src="https://cloud.githubusercontent.com/assets/223060/10420982/01c9f0d0-70c1-11e5-9e6e-8d5e450678a3.png">
The CSS in that textbox is inserted in header of each page. I think this snippet will solve lo

[2015-10-12 07:05] jeffkreeftmeijer commented on #397
I was able to reproduce this issue in a separate documentation project on http://readme.io as well. I've sent an e-mail to their support address linking to this issue so they can take a look, as this is seems to be a problem for all of their users.

[2015-10-12 07:16] armed commented on #397
@jeffkreeftmeijer, this issue occurs only if width of all menu items in nav bar exceeds some number, which occurs on phoenix site. I think they (readme.io) don't have to dynamically change width of search bar, it's up to customer to chose whether to make less menu items or shrink search bar.

[2015-10-12 07:38] jeffkreeftmeijer commented on #397
Hey @armed,

While this issue only occurs for specific menu widths on specific window sizes, it's reproducible in a fresh http://readme.io project. I thought they should know about it, so they can make sure it works nicely for everyone out of the box. Also, them fixing it would save us a stylesheet override.

![screen shot 2015-10-12 at 08 49 44](https://cloud.githubusercontent.com/assets/43621/10

[2015-10-12 07:43] armed commented on #397
Thanks, @jeffkreeftmeijer, I got it. You are right.

[2015-10-12 17:56] lancehalvorsen commented on #397
Yes, I believe having readme fix it on their end is a better solution. :)

And an extraneous explanation:

I don't believe I worded my original response correctly. Yes, we can override the css, but the application doesn't give us specific control of that widget - meaning that readme isn't guaranteed to respect our css for it.

Assuming we would override the search styling, if readme changes the cl

[2015-10-13 16:40] #395 closed

[2015-10-13 21:21] jeffkreeftmeijer commented on #397
I've had contact with Gregory and Marc at Readme.io. Here's what happened;

They fixed it for the Phoenix website, so now the search bar works properly when the website is in full width. If the window becomes narrower than 1000px, the issue remains. I can't check in Readme.io, but I think they did exactly what @armed suggested, with a stylesheet override. They also told me they'll be rolling out a

[2015-10-14 16:16] bmalum opened #404 "Plug Guide - Confused"
Hey 😊
First of all, the `Guides` are the best ones I have ever read, explain everything and the first API is easy and fast up. But if you get deeper in Phoenix without being a Elixir Coder it is hard to understand the Plug mechanism.

My Question are:
* Where are the Plugs located?
* How can the be included via dependencies?
* Is a Module Plug always a Plug for connection transformation?
* Naming

[2015-10-14 17:45] #396 closed

[2015-10-15 08:15] alan-andrade commented on #396
Hello @lancehalvorsen !

I apologize for taking so long. I was really excited about this topic so I gave it a shot. I wanted to learn more about what I'm actually proposing. I wrote [this blog post](http://alan-andrade.github.io/PhoenixIn10Minutes/) to get a better feeling of what I'm actually proposing.

It was really fun to write !!! I had to infer rails experience though. My goal was to share h

[2015-10-15 19:03] lancehalvorsen commented on #404
Hi @bmalum,

Thanks very much for writing this up! We definitely want to provide the best information possible for people who are new to Phoenix and Elixir. Thanks also for the kind words about the guides. :)

I'm unsure about how many of your questions should be answered in the Guides and how many are better suited to the Phoenix mailing list or StackOverflow. I'm curious what your thoughts are a

[2015-10-15 19:08] bmalum commented on #404
Hi @lancehalvorsen,

Thank you for all the Information. I just thought a Plug need more "magic" - i will let the community know and share my Plug also on Github, if i get it working, but now it does not seem too hard.

Thank you and all of the Elixir and Phoenix Framework i like it so much already 😊

[2015-10-15 19:12] lancehalvorsen commented on #396
Hi @alan-andrade,

Thanks for following up. Glad that you had so much fun writing up the blog post! I think that the tone and style of writing you've adopted is really appropriate for blogging, and I encourage you to continue. :)

I don't think that such a radical change is the right thing for these guides, though.

Best of luck with your blog!

[2015-10-16 04:06] alan-andrade commented on #396
I agree with you. That would be radical and I don't think that's right.

Thanks a lot for the best wishes. I'm starting to really like this community :heart:

[2015-10-16 16:51] lancehalvorsen commented on #404
We favor explicitness over magic in Elixir. :smile: . Glad you're enjoying Elixir and Phoenix!

[2015-10-16 16:51] #404 closed

[2015-11-01 16:56] maxim commented on #254
@bitwalker Hey, I'm trying to figure out a way to use exrm on OS X for deploy on Ubuntu, and I came up with a build process that:

- launches an ubuntu docker container with elixir
- mounts my host source code dir
- runs all the mix/release stuff inside the container
- kills the container

I wonder if this is a legit way of doing this. The only problem for me is that if I already built a release o

[2015-11-01 19:02] maxim commented on #254
I spoke with @benwilson512 on IRC about this, and he advised to use COPY/ADD to get the source into the container instead of mounting the source dir, and then mount a the rel inside the container to some host directory (e.g. ubuntu_rel). This way original rel is intact. Another option here is to never mount anything, and just copy the artifact from the container into some host location. I think I'

[2015-11-01 20:51] wsmoak commented on #391
I've also been looking at this, (and didn't realize until the end that this issue was already open!)  I elected to work in a branch of phoenix_guides just because it's easier.

https://github.com/wsmoak/phoenix_guides/tree/ex_doc_initial has the top level files and a couple of the subdirectories converted, and the generated html is at http://wsmoak.net/phoenix/guides/ .

Both "Learning" and "Addin

[2015-11-01 23:30] wsmoak commented on #391
Here's what it looks like with the Guides as a git sub-module of Phoenix:  https://github.com/wsmoak/phoenix/tree/ex_doc_initial

Note the 'docs' directory is a submodule pointed at a branch of my phoenix_guides fork.  This is defined in the `.gitmodules` dotfile.  Then in `mix.exs`, it's just the usual paths to the 'extra' pages.

It's published here:  http://wsmoak.net/phoenix/doc/  (click on Pa

[2015-11-04 02:23] wsmoak commented on #391
So far I'm really happy with the "phoenix_guides as mix dependency" idea.  It keeps git out of the picture as far as subtrees or submodules, and it Just Works.

Here's the branch:  https://github.com/wsmoak/phoenix/tree/ex_doc_with_guides_as_dep

All the changes are in mix.exs -- adding phoenix_guides as a dependency, currently pointed at a branch of my fork, and then using "deps/phoenix_guides/Fi

[2015-11-04 12:45] Gazler commented on #391
@wsmoak This is some great work. Thanks for updating all the page names. It looks like your guides may be missing some pages? Did you run in to the issue where there will be a lot of top level pages?

In terms of how we decide to bring the guides in to Phoenix, i'm just going to mention the way I initially thought this would work (with `git subtree`) as you have covered the way to use `submodule`

[2015-11-07 15:23] wsmoak commented on #391
We're still working on removing the "extras-" prefix over in ex_doc: https://github.com/elixir-lang/ex_doc/pull/462

Next I'd like to see it use the text of the first <h1> as the menu item so that we don't _have_ to rename the files "Upper Case With Spaces.md" only to see them converted back to upper-case-with-spaces.html.

The files are all going to be at the top level for now -- AIUI there's an

[2015-11-09 15:14] Gazler commented on #391
I like the solution at https://github.com/elixir-lang/ex_doc/pull/470 - it means we don't need to rename any files in the guides.

I think maybe concatenating the files could be a mix task? Maybe `mix guides.concat` could be run before `mix docs` in the phoenix application? We could then reference the concatenated files in the `mix.exs` extras for Phoenix. We can then define an alias that will run

[2015-11-09 16:56] bitwalker commented on #254
@maxim I'd recommend following Ben Wilson's advice, since it keeps the `rel` directory preserved on the host, and doesn't requite the copy of `rel` into the container during the release process (if you are doing hot upgrades, if not then this is moot).

[2015-11-09 16:59] maxim commented on #254
@bitwalker yep, ended up with copying source into container, and mapping container rel into host's rel_linux, seems to work, thanks

[2015-11-10 00:11] milmazz commented on #391
@Gazler elixir-lang/ex_doc#470 it's already in `master`. Please let me know if I can help with something else.

[2015-11-11 13:23] wsmoak commented on #391
It's looking good over there!  I just opened a PR for the last thing on my [current] list, for it to pick up the first `<h1>` as the menu title so we don't have to duplicate that text.  https://github.com/elixir-lang/ex_doc/pull/471

[2015-11-18 00:25] wsmoak commented on #391
I think all the changes are in ExDoc now -- we won't need to rename any files, just add a `#` line to the top of each one with the title, and that will get used in the menu.  (Or you can configure the menu item text if you want it to be different than the first `<h1>` in the file.

For the moment, all the extra files will be at the top level of the generated docs.  My current thought is... rather

[2015-11-20 22:39] stevedomin commented on #391
:+1: on external mix package

In my opinion, if you are using submodule or subtree then you have to make sure the guides are always up to date with Phoenix at the time of creating a release (so that when people checkout a version they get the correct version of guides). I'm thinking this might slow down the release process.

Also having issues and PRs separated is probably a good thing as it's mak

[2015-11-21 18:58] dsky opened #430 "Note about adding :ssl to mix.exs for SSL to work."
I had to add `:ssl` to applications in my mix.exs file for https to start working.
Maybe it would be better to make a note in the guide on SSL about that?

[2015-12-01 11:12] sashaafm opened #434 "Problem and inconsistency in the Exrm Releases guide"
Hello,

I've been following the Exrm Relases guide from the ver. 1.0.0 and there's a problem at the beginning about the dependencies. The guide states the following:

ADD EXRM AS A DEPENDENCY
To get started, we'll need to add {:exrm, "~> 0.15.3"} into the list of dependencies in our mix.exs file.

  defp deps do
    [{:phoenix, "~> 1.0.3"},
     {:phoenix_ecto, "~> 1.1"},
     {:postgrex, ">= 0.0.

[2015-12-08 19:10] bmalum commented on #434
Interesting, `exrm 0.19.9` works fine for me with all projects so far. Just preparing a PullRequest to fix it to `0.19.9` - but i will wait until your problem is fixed.

[2015-12-08 20:32] jeregrine opened #438 "Add a guide, or section for using view's for JSON representation"
I can take this one, starting in the new Year, but if someone wants to take it sooner please do.

Basically show examples of
[code]

Why using your view this way is a good way to do it.

[2015-12-10 05:08] chrismccord opened #439 "Do not use nested scopes in examples"
I push folks away from nesting scopes because it gets confusing and is less clear. We should update the routing code to change this block:

[code]

To this:

[code]

Prose will also need tweaked talking about nested scopes.

[2015-12-15 23:46] dmarkow opened #442 "Potential confusion when describing function plugs"
In the [Function Plug](https://github.com/phoenixframework/phoenix_guides/blob/master/DD_Plug.md#function-plugs) section there are some potentially confusing code blocks:

- The first code block for `show/2` refers to several functions (`authenticate/1`, `find_message/1`, etc.) but doesn't actually show them. It should maybe either have a `...` like the code block above it to at least imply that t

[2015-12-26 00:47] lpil opened #447 "Add a guide on sending email using SMTP rather than mailgun"
I think it'd be great if we had example of a more common + generic method of sending emails rather than just one specific third party service. :)

[2015-12-27 00:59] willykaram commented on #391
I'd agree w/the mix package/dependency approach, as it would have less risk of impacting the core release cycle and allow for more flexibility for guides to evolve over time following release (which they naturally tend to do with many projects. Including images/videos in docs is an important consideration we shouldn't overlook if they are to be responsive (I have some experience with this and can

[2015-12-27 15:59] willykaram commented on #118
@lancehalvorsen I can do some work on this if it hasn't been completed yet, but I figured I should confirm first.Where in the guides do you think it would be best for this to live?

Do you have a preference for how this is created? e.g., should be do it in a public Google Apps diagram we can collaboratively edit, or just in a static image/diagram?

[2015-12-30 03:09] willykaram commented on #277
@lancehalvorsen @paulcsmith perhaps we could collect some of this sort of guidance into a Bonus Guide relating to 'Best Practices'? I think there's a fair amount of this sort of learning relating to a few topics which is acquired early on that may be good to share in this way.

[2015-12-30 05:13] lancehalvorsen commented on #118
Hi @willykaram,

Thanks so much for volunteering for this! The work has definitely not been completed yet.

My initial sense is that this would make a great bonus guide, but I'm open to suggestions for other locations. I also think that a static image/diagram would be fine. Depending on the level of detail, we might add some text to round out/highlight the meaning.

Thanks once again for helping o

[2015-12-31 03:26] willykaram commented on #439
@chrismccord @lancehalvorsen I've made a PR to address the above issue. Pls LMK if you have any feedback, and I'll revise accordingly.

[2016-01-02 03:57] willykaram commented on #337
@chrismccord @lancehalvorsen Not sure if the above PR transplants the example as intended, but it not please LMK and I can revised accordingly.

[2016-01-02 04:01] willykaram commented on #124
@gjaldon @lancehalvorsen I just wanted to check on the status of the Endpoint Guide. It looks like the Heroku Deployment Guide is done, but we didn't tackle the endpoint guide yet. I can create a proposed draft this week if helpful, but don't want to duplicate any other work if others or @gjaldon are already working on it.

[2016-01-02 04:02] willykaram commented on #118
@lancehalvorsen sounds good. I'll prepare a static diagram with some accompanying text.

[2016-01-02 05:51] lancehalvorsen commented on #124
As far as I know, nobody is currently working on this. It would be fabulous if you wanted to take this on @willykaram!

[2016-01-03 05:34] willykaram commented on #439
As mentioned in the PR, apologies I made a sloppy error while squashing and then another error in my prior branch, and given the time of day it was just easier to create a new PR than to clean-up the error.

[2016-01-03 06:04] lancehalvorsen commented on #439
closed by #455

[2016-01-03 06:04] #439 closed

[2016-01-03 12:40] yeongsheng-tan opened #457 "Typo in http://www.phoenixframework.org/blog 'Upgrading from v1.0 to v1.1'"
#### Code block minor fix in 'GETTEXT (OPTIONAL)' section
Second code block:
From ->
[code]

To ->
[code]

[2016-01-03 19:23] lancehalvorsen commented on #457
Thanks @yeongsheng-tan! I just fixed this on phoenixframework.org.

@chrismccord, just a note here in case you wanted to add the comma after `:gettext` to the upgrade gist.

[2016-01-03 19:23] #457 closed

[2016-01-06 02:29] willykaram commented on #337
Apologies for the error with the prior PR/branch. I may have some further suggested revisions to this guide later in the week, but for now at least wanted to try and clean-up the prior commits and not leave the issue/PR hanging.

[2016-01-06 02:43] willykaram commented on #19
@lancehalvorsen should we close this issue, or are there some other additions that we could potentially add to the config guide now?

[2016-01-06 06:19] lancehalvorsen commented on #19
Good catch @willykaram! Wow, this one had been around for a while. Thanks for your work on this.

[2016-01-06 06:19] #19 closed

[2016-01-08 05:23] HeroicEric opened #460 "Issues with upgrading guide"
Found a few issues in [the blog post about upgrading from 1.0 to 1.1](http://www.phoenixframework.org/blog/upgrading-from-v10-to-v11). I wasn't able to find a place to make a PR but if there is a way please let me know and I'll do so :smile:

The diff for `web/web.ex` lines 42 and 77 does not match https://github.com/phoenixframework/phoenix/commit/f268a31af1f1da46ae59d7cb1fce3cc480977342 (missing

[2016-01-08 05:43] HeroicEric commented on #460
It's also missing the diff here https://github.com/phoenixframework/phoenix/commit/1b858cbbebc86f0095dc17e1107ed9998927086f for the files in `test/support`

[2016-01-09 10:57] davidspiess commented on #372
@clessg Have you got any response already? ATM I find it really difficult to grasp the examples, so i basically stick with github, which has proper syntax highlighting.

[2016-01-13 01:56] niklas commented on #254
An additional problem when mounting the whole project into the machine: some erlang libs with custom c_src are not compiled (again) in the machine, resulting in a wrong binary format in the release. (happened to be with https://github.com/tonyrog/afunix)

[2016-01-13 04:44] lancehalvorsen commented on #460
Hi @HeroicEric, thanks for this!

These blog posts come directly from the [upgrade guides](https://gist.github.com/chrismccord/557ef22e2a03a7992624) in the Phoenix repo. There are no local files in this repo to make a PR from, but we create the posts in the hosting application. (I hope that's clarifying more than confusing. :) )

I'll re-verify and fix this up soon. Thanks again!

[2016-01-15 05:42] clessg commented on #372
Sadly they never responded.

[2016-01-20 04:44] willykaram opened #462 "Migrations & Related Coverage in Guides"
Ensure that the Guides provide sufficient coverage of Migrations, including CLI commands, table/column mods, and pointers to Ecto docs.

Per the discussion on this HN thread:

https://news.ycombinator.com/item?id=10931469

[2016-01-20 11:39] chrismccord commented on #462
:+1: thanks for opening this from the HN discussion

[2016-01-20 16:39] ralphking commented on #462
Hi, this was based on my feedback so I'll try to help out here. The issue I had was not being able to quickly find out how to create a migration for something that already exists. I was probably (definitely) having a bad day, so mostly my fault.

The actual guide for that is here http://www.phoenixframework.org/docs/mix-tasks, and is a great guide. However as it was under the 'bonus guides' sectio

[2016-01-21 04:18] willykaram commented on #118
@lancehalvorsen @chrismccord This is a long to the early starting point on the diagram which I sharing for you to skim (but not fully review):

https://drive.google.com/file/d/0B13qZbZnapZ8ZXV6VmxzclNnbFE/view?usp=sharing

It's going to take at least another day or so to get the layers of the diagram and the accompanying text accurate. However, I wanted to share an early version to confirm if this

[2016-01-22 00:05] morenoh149 opened #463 "Up And Running instructions not working"
Hi I'm very excited to get started with phoenix. I'm following the instructions at http://www.phoenixframework.org/docs/up-and-running

after running `mix phoenix.server` I get the following errors

[code]
I think this is pretty high priority as it's the first thing I new user does with phoenix

[2016-01-22 00:24] morenoh149 commented on #463
I have run `mix ecto.create` and it runs successfully.

[2016-01-22 01:19] arthurcolle commented on #463
mine still didn't work after a `mix ecto.create` fwiw, but I found out my psql wasn't on my path, but still, the default project should definitely build/work even without a working db connection, it's just serving static files after all

[2016-01-22 01:37] chrismccord commented on #463
The temporary workaround until we can push a new Ecto version tomorrow is to lock your postgrex version in mix.exs as:

    {:postgrex, "0.10.0"}

Then run `mix deps.update postgrex.

[2016-01-24 00:15] jerel opened #464 "Consider changing the recommended C# channel client"
I needed a C# channel client and couldn't get the one recommended in the guides to work. I ended up using this one which is up-to-date as of Phoenix v1.1.1 and works flawlessly so far. https://github.com/jfis/dn-phoenix

Here is my original issue on the "official" C# client: https://github.com/livehelpnow/CSharpPhoenixClient/issues/2

I'm happy to do a PR to change the link if you want it done.

[2016-01-25 01:15] willykaram commented on #376
@chrismccord @lancehalvorsen what should the letter be that precedes the Seeding Data guide? Sorry if I missed that somewhere in the docs/contributing guidelines?

[2016-01-25 01:50] willykaram commented on #462
@ralphking thanks a lot for adding the feedback here & on HN. The Guides especially need to work on 'bad days', so I'll make some revisions as you've suggested to help make things more clear for people like you and me, and hopefully we can get a PR merged to resolve the issue ... thx again.

[2016-01-25 03:25] willykaram commented on #118
Attached is a slightly updated version of the diagram. I'll put in some more work (particularly in relation to the discussion of Conn, Controller, Plug, and Pipeline).

I can also create an .md file where we can break it down by section with text and the related portion of the diagram.

Would this live in the Overview, Guides or Bonus Guides section.

If this ins't what you had in mind, just provi

[2016-01-25 04:47] gilbertkennen commented on #372
[It seems](https://readme.readme.io/docs/code-samples) that ReadMe.io uses [CodeMirror](http://codemirror.net/index.html) modes for their syntax highlighting. If an Elixir mode were developed, then they would probably just make it so, but probably not before.

[2016-01-27 03:01] GriffinMB opened #466 "Add a section on handling params securely"
It would be great to have a guide on properly handling protected parameters (like admin/status fields) with changesets.

[2016-01-29 13:59] nathanhornby opened #467 "Mention `MIX_ENV=prod mix compile` earlier in the deployment guide"
`MIX_ENV=prod mix compile` (along with the `--only prod` flag for `deps.get`) is mentioned as a step in the summary at the end of the guide, but not as part of the guide itself.

It could probably be mentioned just before "Compiling your applications assets" very briefly.

[code]

[2016-01-30 18:29] ybur-yug commented on #376
@chrismccord @willykaram If one of you could elaborate I'd be happy to contribute this if it isn't being worked on :smile:

[2016-01-30 18:34] willykaram commented on #376
@ybur-yug thanks offering to help out. Any comments or feedback on the above draft would be really appreciated. I started on the draft of this guide here which we could work at improving: https://github.com/willykaram/phoenix_guides/blob/seeding-data-guide/bonus_guides/X_seeding_data.md

I'm guessing @lancehalvorsen and @chrismccord will have some feedback/revs too.

[2016-01-30 18:34] ybur-yug commented on #376
@willykaram awesome, I'll check it out now

[2016-01-30 20:20] willykaram commented on #376
@ybur-yug thx that'd be great

[2016-01-30 20:35] ybur-yug commented on #376
@willykaram left a couple comments :+1:

[2016-01-31 01:21] willykaram commented on #376
Thanks a *lot* for that @ybur-yug, you rock. I'll have a look tonight tomorrow and incorporate what I can technically. And if it's something beyond my experience/judgment, then hopefully @chrismccord and/or @lancehalvorsen can review/revise.

[2016-02-02 03:23] morenoh149 commented on #463
following the guide now works :+1:

[2016-02-02 03:23] #463 closed

[2016-02-07 23:57] chrismccord opened #471 "Add note about database configuration"
ref https://github.com/phoenixframework/phoenix/issues/1528#issuecomment-181138011

[2016-02-08 15:02] bjfish commented on #471
It's nice when the D.B. command on how to create the default user/password is given. For example, here https://github.com/hexpm/hex_web/blob/master/README.md

[2016-02-12 16:58] Gazler opened #472 "Reference to match/3 in the router guide"
I did some exploration based on this question https://stackoverflow.com/questions/35367759/what-is-the-match-3-function-in-the-context-of-the-phoenix-framework

There are references to `match/3` https://github.com/phoenixframework/phoenix_guides/blob/master/C_routing.md#resources which does not exist in Phoenix. I think we should clarify which function we mean.

My guess was that it was a referenc

[2016-02-27 11:53] riverrun opened #477 "Update Elixir / Erlang / Node installation instruction for Ubuntu / Debian"
On Ubuntu / Debian systems, the repository's version of Elixir, Erlang and Node is usually quite old, so perhaps we can add some information in 'E_installation.md' about ways of installing newer versions of these apps.
For Elixir and Erlang, I think the best option is to replicate the advice given in the 'Installing Elixir' page - that is, to add the Erlang Solutions site to the available reposito

[2016-03-14 11:40] Joshua-Ferguson commented on #464
The [jfis](https://github.com/jfis/dn-phoenix) client's readme also says:

which leads me to believe that the client @[livehelpnow](https://github.com/livehelpnow/CSharpPhoenixClient/) may no longer be maintained.

[2016-03-15 10:21] sashaafm commented on #118
@willykaram you have a typo in the View. "Presetnation" -> "Presentation"

[2016-03-15 10:23] willykaram commented on #118
@sashaafm thx, appreciate you catching that, if you have any other feedback or corrections please LMK

[2016-04-02 21:47] dreuter commented on #354
Couldn't this be captured at generation time?
Maybe just give a error message when the type is `*:references:*` and the field does not end with `_id`?

I was struggling with this today and it would be very convenient, if there was a error message (or at least a warning) at generation time for beginners like me.

Is there any case, where it would make sense to have a field not postfixed by `_id`?

[2016-04-07 08:51] radar opened #487 "Ecto paragraph in "gathering data" section in Controllers guide"
I'm on my phone so I can't submit a PR easily. In the controller guide, it says:

It's my understanding that Ecto supports more than just Postgres now and so I think this paragraph should be updated to match that.

[2016-04-07 20:54] #487 closed

[2016-04-11 07:42] schainker commented on #341
Hello, so we have the following "short list" of topics for the advanced guide, roughly in order of importance as deemed by @chrismccord and my left brain:

- maps
- arrays
- nested queries
- many-to-many associations
- subqueries and `Repo.aggregate`
- association preloading (and "suggested" or "effective" use)

Let's start with the first three and go from there?

[2016-04-11 09:12] schainker commented on #341
Also, this guide assumes ecto 2.0.0-beta.2

[2016-04-24 05:57] ntsai opened #494 "how to use Phoenix.PubSub.Local.subscribers?"
Phoenix.PubSub.Local.subscribers(Im.PubSub, "foo")
 it's not work.

[2016-04-24 05:59] #494 closed

[2016-05-09 11:45] sashaafm opened #496 "Typo in Upgrading guide 1.1.1 to 1.1.2"
In the very latest bit of the upgrading guide of 1.1.1 to 1.1.2 in the "Test It" section there's the following typo:

$ mix** phoeinix.server**
07 Jan 16:16:59 - info: compiled 5 files into 2 files, copied 3 in 1.2 sec

should be:

$ mix** phoenix.server**
07 Jan 16:16:59 - info: compiled 5 files into 2 files, copied 3 in 1.2 sec

I posted this here since if I'm not mistaken these posts can't be P

[2016-05-10 04:31] willykaram opened #497 "Add Presence Guide"
Given that Phoenix 1.2.0-rc has been released with `Phoenix.Presence` feature, as mentioned here:

https://groups.google.com/forum/#!topic/phoenix-core/2f-iLioWB-0

This blog post and video could be helpful starting points:

https://dockyard.com/blog/2016/03/25/what-makes-phoenix-presence-special-sneak-peek

[2016-05-15 13:55] vishaldeepak opened #500 "Link broken in docs-controller"
In docs controller - under subsection - http://www.phoenixframework.org/docs/controllers#section-setting-the-content-type. In the last sentence the text [mime.types], which redirects to https://github.com/elixir-lang/plug/blob/master/lib/plug/mime.types, is broken.
Was trying to find a suitable replacement file to raise a pull request, could not find one though

[2016-05-17 18:12] jeregrine commented on #500
Thanks @vishaldeepak I fixed it in master, I did not link the issue like a dingus though.!

[2016-05-17 18:12] #500 closed

[2016-05-17 18:13] jeregrine commented on #496
@sashaafm best way is to click the linked gist and make a comment.

[2016-05-17 18:13] #496 closed

[2016-05-17 18:14] jeregrine commented on #477
@riverrun could you PR this change? Thanks!

[2016-05-17 18:14] jeregrine commented on #467
@nathanhornby could you pr this change? Thanks!

[2016-05-17 18:18] jeregrine commented on #464
@jerel please PR. Sorry for slow response here.

[2016-05-17 18:18] jeregrine commented on #462
@ralphking @willykaram Any PR's happily accepted.

[2016-05-17 18:19] jeregrine commented on #460
@lancehalvorsen @HeroicEric best thing you can do is post a comment on the gist https://gist.github.com/chrismccord/557ef22e2a03a7992624

[2016-05-17 18:19] #460 closed

[2016-05-17 18:19] jeregrine commented on #447
@lpil could you PR a guide?

[2016-05-17 18:21] jeregrine commented on #434
This has been updated :-)

[2016-05-17 18:21] #434 closed

[2016-05-17 18:21] jeregrine commented on #430
@dsky could you pr?

[2016-05-17 18:23] jeregrine commented on #391
I'm all for moving off of readme.io but the questions are where/how/whome is this still something people are interested in?

[2016-05-17 18:24] jeregrine commented on #376
@willykaram could you PR these changes? Thanks!

[2016-05-17 18:25] #355 closed

[2016-05-17 18:26] jeregrine commented on #341
@schainker any movement on this? Maybe we could help give feedback with a PR?

[2016-05-17 18:44] lpil commented on #447
Hum. I don't see why not. Unsure when I'll get the time though.

[2016-05-17 18:47] jeregrine commented on #447
@lpil cool :-)

[2016-05-17 18:49] chrismccord commented on #391
Soon, but it will need to wait until I'm ready to move on this, which I'm not quite there yet

[2016-05-17 18:53] henrik commented on #442
@dmarkow Maybe showing the method definitions with elided bodies would be good? Like this:

[code]

Doesn't take up a lot of space or add a lot of complexity but makes things less confusing-

[2016-05-17 18:56] jeregrine commented on #391
@chrismccord

[2016-05-17 19:28] willykaram commented on #462
@jeregrine thx, I can take care of of a PR once I'm done the Seeding Data Guide (#465) and revising the Request Lifecycle Diagram (#118) to reflect what @scrogson covered in his Erlang Factory Talk

[2016-05-17 19:29] willykaram commented on #391
@chrismccord once you're ready to move on this, I can dedicate some time to helping you, @lancehalvorsen and other with the move.

[2016-05-17 19:32] willykaram commented on #376
@jeregrine y, will do, was just waiting for feedback/green light to confirm
that they were ok

On Tue, May 17, 2016 at 2:24 PM, Jason S. <notifications@github.com> wrote:

[2016-05-18 03:51] vishaldeepak commented on #500
thanks for fixing @jeregrine, though I could not get  -- ` I did not link the issue like a dingus though.!`.

[2016-05-18 07:35] Gazler commented on #391
I'm still on board with this change, however readme.io seems a lot more reliable than when I first opened the issue. We have the following pages that probably won't work being embedded into the guides:

 * Landing page - https://phoenixframework.org
 * Blog - http://www.phoenixframework.org/blog

We could do something similar to the way the elixir site works for those potentially.

[2016-05-18 13:07] ybur-yug commented on #376
@willykaram if there is any more review needed for this, or additions etc feel free to let me know and I'd be happy to contribute.

[2016-05-18 14:12] jeregrine commented on #500
@vishaldeepak sorry, I meant that I should have linked the commit to this issue. I forgot to do that :-)

[2016-05-18 15:51] #464 closed

[2016-05-18 16:54] polycopter opened #503 "confusing information about node.js version"
below is an excerpt from the guide with some highlights I've added, including a hyperlink labeled "download page"; the problem is the page at that url has version info that doesn't agree -- it states that the latest stable version of node.js is 4.4.4 which seems not >= 5.0.0

**node.js (>= 5.0.0)**

Node is an optional dependency. Phoenix will use brunch.io to compile static assets (javascript, cs

[2016-05-18 18:11] polycopter commented on #503
actually, this is more a problem with the node.js web page -- I eventually figured out how to see >= 5.0.0 on that page

[2016-05-18 18:11] #503 closed

[2016-05-18 23:12] Oxyrus commented on #477
I've created a shell script to install Elixir on Ubuntu/Debian systems, https://github.com/elixir-espanol/one-shot-elixir-installation perhaps the steps could be written in the guide.

[2016-05-19 08:51] riverrun commented on #477
I'll send a PR sometime within the next few days.

[2016-05-22 06:03] tronathan opened #508 "Heroku deploy section missing `git add Procfile` (needs one line added)"
It appears that the documentation for Heroku deployment is missing:

[code]

In the section referenced here: http://www.phoenixframework.org/docs/heroku#section-deploy-time-

[code]

In this case, the Procfile will not be added and the project will not work.

The fix is to add:

[code]

To the documentation under "Deploy Time!"

[2016-05-22 18:22] jeregrine commented on #508
@tronathan could you PR this in quick? Thanks!

[2016-05-22 19:03] ybur-yug commented on #497
@willykaram Have you begun any work on this?
I feel like it would be incredibly valuable.

[2016-05-22 19:10] ybur-yug commented on #467
@jeregrine I'll take a stab at this today, I'm peeking at a few other documentation related tasks already :)

[2016-05-22 19:11] ybur-yug commented on #466
@jeregrine and anyone else who may have thoughts: is there anything that has been started on this? It seems like it wouldnt be too crazy of one to start with. However I see a LOT of `help wanted` tags, and would love to help :) So if there is something else more pressing or useful I could chip in on feel free to comment and let me know 👍

[2016-05-22 19:22] ybur-yug commented on #438
@jeregrine where would this optimally be located, just after the standard rendering stuff in the views guide? I've been building JSON API's mostly lately so I'm quite familiar and would be happy to chip on this one as well (I've left a few other comments, it seems there are a lot of help wanted tags). Let me know what your folks' primary priorities are and I'll try to distribute some of my help wh

[2016-05-22 20:42] ybur-yug commented on #508
@jeregrine I threw it together quickly in #510

[2016-05-22 20:45] ybur-yug commented on #467
@jeregrine addressed in #511

[2016-05-23 02:23] willykaram commented on #376
@jeregrine I just completed the revisions to the draft seeding guide in PR #465, I also included the suggestions from @ybur-yug that I was experienced enough to include. He had some additional suggestions that I think he's going to add to and that we can ideally include in an other PR once he' ready and that perhaps either you or @lancehalvorsen could review.

[2016-05-23 02:42] willykaram commented on #497
@ybur-yug yes, I've started on the draft of it, and should have a version ready in the next 1-2 weeks. It's be great to collaborate on this if you're interested in helping or reviewing? Are there any other guides or issues that are of interest to you? I'd be happy to help you with them or review what you create.

[2016-05-23 02:53] ybur-yug commented on #497
@willykaram just replied to another comment of yours referencing this but opened my notifications in order of oldest to newest so saw this last. Woops.

I would love to collaborate. My work schedule varies but I generally have at least 1-2 hours a day I can contribute forgiving personal events etc that take priority. I'm trying to consciously start contributing to as much as I can w.r.t Phoenix be

[2016-05-23 15:11] ybur-yug commented on #508
@tronathan @jeregrine I think we can close this one now that #510 is merged

[2016-05-23 15:12] jeregrine commented on #466
@ybur-yug if you see a help-wanted tag it means nobody has started it. I would *love* help on this or anything.

[2016-05-23 15:46] #508 closed

[2016-05-23 16:06] ybur-yug commented on #466
@jeregrine, @willykaram had mentioned diving into building up the presence guide in [issue 497](https://github.com/phoenixframework/phoenix_guides/issues/497).
That and this are what I see as the most valuable pieces that could be added currently that are in the open issues.

Since he already has a draft he is working on, I'll wait to hear from him if he'd like anything I could do for that later a

[2016-05-23 19:06] jeregrine commented on #438
@ybur-yug happy to hand off :-)

[2016-05-23 19:34] ybur-yug commented on #467
@nathanhornby @jeregrine I think this is good to close now that its been merged.
Is there a convention or regular flow for the whole `issue opened -> PR addresses it -> PR merged` setup with regard to closing the loose ends on the original issue opened, or is it just done manually once someone has the time?

Not pushing or anything, just curious and wanted to make sure I matched how you guys did i

[2016-05-23 20:00] #467 closed

[2016-05-26 19:09] GriffinMB commented on #466
I think going into customization would be ideal. A quick search of phoenix github repos shows that a ton of people aren't properly handling sensitive parameters, similar to the old Rails mass-assignment vulnerability.

For example, having an 'is_admin' column accessible through the optional parameters. All it would take is a user guessing that there may be an admin column, and they'd have full acc

[2016-05-26 19:27] jeregrine commented on #466
@ybur-yug I think a solid approach would be to show two seperate changeset functions `user_changeset` and `admin_changeset` with separate editable fields.

Thanks for helping out with this!

@GriffinMB A ton of ways to help out with the guides and happy to accept any and all help.

[2016-05-28 20:45] ybur-yug commented on #466
@jeregrine @GriffinMB I'm taking a stab at a first draft or at least a decent start to this this afternoon, I'll post the branch when I've got something worth showing a bit later.

[2016-06-01 02:10] blackfist commented on #497
@willykaram @ybur-yug Do you two still need help with this? I'm willing to jump in and invest some time here.

[2016-06-01 02:29] blackfist commented on #471
Is there some additional work that needs to be done with this issue? It appears that a PR was merged that addressed everything, but then a couple weeks ago the help wanted tag was added. What's left to be done on this?

[2016-06-01 14:21] jeregrine commented on #471
@blackfist good call I will close this one.

[2016-06-01 14:21] #471 closed

[2016-06-12 01:47] blackfist commented on #430
This is a pretty old issue, and I notice that the SSL guide [here](http://www.phoenixframework.org/docs/configuration-for-ssl) does show `:ssl` being added to the application list in `mix.exs`. Is this issue still valid?

[2016-06-12 01:57] #430 closed

[2016-06-13 23:10] dmitrinesterenko commented on #118
Hi all, is there anything outstanding on this issue? I see the digram as a good companion to looking through the code. Can something be added to this to make it a more complete PR that I could contribute?

My thoughts are around helping folks trace the different components mentioned in this PR for example using the https://github.com/phoenix-examples/hello_phoenix app but providing instructions on

[2016-06-13 23:13] dmitrinesterenko opened #525 "Docker deployment guide?"
Hi All,

I notice in the [deployment guides](https://github.com/phoenixframework/phoenix_guides/tree/master/deployment) we have EXRM or Heroku guides. Any interest in a Docker + let's say Elastic Beanstalk guide? I could write one up similar to Heroku. Here's a [project](https://github.com/dmitrinesterenko/sample_phoenix_elasticbeanstalk/) where I've experimented with this deployment.

[2016-06-13 23:42] willykaram commented on #118
I think @dmitrinesterenko suggestion of could be really useful (building on a post like this one: https://medium.com/@diamondgfx/debugging-phoenix-with-iex-pry-5417256e1d11#.13j6034pm)

I think that @scrogson 's presentation from Erlang Factory (https://www.youtube.com/watch?v=eSWNi5vRxU8) does a good job of covering the topics we need to address in this diagram. So I was thinking that making some

[2016-06-14 00:15] dmitrinesterenko commented on #124
I'm taking this one on.

[2016-06-14 00:18] willykaram commented on #124
@dmitrinesterenko thx, that would rock!! As discussed, ideally we can incorporate some of that into the the diagram for #118 and an accompanying guide.

[2016-06-14 00:19] dmitrinesterenko commented on #124
What would be the appropriate name for this guide? I.e. C_controllers. E_endpoints? There is an implied order in the selection of the title letters and I'm interested in where the endpoints would fall.

[2016-06-14 00:38] willykaram commented on #124
@dmitrinesterenko I wasn't sure of which letter to use for the naming either, so for this issue #365 & related PR #465 I just used "X" as the alpha prefix. That could likely work for now, and then @lancehalvorsen for @jeregrine could rename it appropriately.

If there's a clear strategy/approach for the naming, then  perhaps we could update the [Contributing to the Phoenix Guides](https://github.c

[2016-06-14 14:33] #477 closed

[2016-06-14 14:34] jeregrine commented on #525
@dmitrinesterenko absolutely, could you PR what you have in mind?

Thanks!!

[2016-06-14 14:42] jeregrine commented on #124
I think the numbers are sort of an informal ordering, I wasn't around for there creation.

[2016-06-14 14:47] jeregrine commented on #118
@willykaram I think it looks good, I'll put this on my list to review more closely tomorrow morning. Thanks for doing this

[2016-06-14 14:54] jeregrine commented on #497
@willykaram any movement on this one?

[2016-06-14 15:31] ybur-yug commented on #497
@blackfist I've been swamped but primarily am going to try to knock out the secure handling of parameters additions before this as its a bit smaller and I havent dove a ton into presence yet. But I'm happy to proofread and add notes to anything that is done with this one and chip in a bit as well :)

[2016-06-14 18:33] dmitrinesterenko commented on #525
I am doing #124 first as that's good to have in the guide before the bonus or deployment guides. Will do propose a PR for this after.

[2016-06-15 06:59] radar opened #526 "Ecto Basics Guide"
Hi there, just looking to gauge if there's any interest in having my [Ecto Basics](https://github.com/radar/guides/blob/master/ecto.md) guide as an official guide in this repository. I understand that Phoenix _can_ be used without Ecto, but since it comes installed by default, I think it would be very useful to have a guide that covers the basics. That's similar to how the Rails guides has the [Ac

[2016-06-26 13:21] jsonify commented on #118
@willykaram great diagram. Any update on whether this effort is still in motion to be updated where the diagram states that more information will be added? I really appreciate your work on getting this laid out too. It really helps someone new, like myself, to visualize where things happen in the chain of events.

[2016-06-26 16:04] willykaram commented on #118
@jsonify I have had a chance to update it yet, however we discussed it at our last meetup/hack night in NYC. We're aiming to work on it at the contribution sprints work hosting at your upcoming Phoenix conferences  in NYC: http://nyc.phoenix.camp/

However, If you or anyone else want to jump in and help please feel free to do so. We don't want to hold up any progress on that documentation or movin

[2016-06-27 17:20] mneumark opened #529 "Ecto Guide Needs some updating?"
I am a newbie and am learning this stuff but I know the last couple weeks have introduced some big changes for Ecto. 2.0 came out and made some significant changes. Phoenix has adapted and now uses Ecto 2.0.

But it seems the guide has not yet adjusted. According to the changelog for Ecto 2.0, changesets call `cast/3` instead of `cast/4` and we use `validate_required/3` instead. And of course defa

[2016-06-27 17:45] jeregrine commented on #529
@mneumark recently there was a large update to Phoenix, Elixir and Ecto. We need to update the site, its a WIP,

[2016-06-27 17:57] dougselph commented on #529
Any guess as to when a v1.2 tagged Guides set gets posted to the site? I understand it's a large undertaking with with so many updates dropped last week

[2016-06-27 18:02] jeregrine commented on #529
@dougselph no timeline right now.

@mneumark if you could make an issue for each thing you find as you go through it will be easier to chunk.

[2016-06-27 18:03] mneumark commented on #529
@jeregrine Will do!

[2016-06-27 19:30] mneumark opened #530 "Ecto Guide: Generated Phoenix Model"
The generated Phoenix model on line 207 no longer generates:
[code]

Also, the default changeset is different:
[code]
- `model` is now `struct`
- `:empty` is now `%{}`
- `cast/4` is now a call to `cast/3` in addition to a new `validate_required/1`.

It seems that you can modify required vs. optional simply by altering the changeset, but I suspect that is not correct and I just don't have an exampl

[2016-06-27 19:37] mneumark opened #531 "Ecto Guide: scrub_params Plug"
The following line is no longer in the pre-generated controller:
[code]

Therefore, line 424 should be changed, and any surrounding text that discusses this.

[2016-07-01 00:20] ybur-yug commented on #526
@radar if theres any interest and you want some help with that feel free to ping me. I think it would be useful.

[2016-07-01 00:24] ybur-yug commented on #531
@jeregrine I saw these ones pop up and would be happy to handle a few of them this weekend and go more in-depth. I could do all separate PR's if that is preferred or just modify the intent of this one and document it all.

[2016-07-01 00:40] ybur-yug commented on #466
I started some work on this, but plan on diving into it and a couple others this weekend. Has anyone else got anything together?

[2016-07-01 02:37] radar commented on #526
Hey @ybur-yug, I've started work on this over in the Ecto repo: https://github.com/elixir-ecto/ecto/pull/1516. I'll close this issue now.

[2016-07-01 02:37] #526 closed

[2016-07-01 19:25] ybur-yug commented on #530
@mneumark I wrote up a PR that should have this handled if you'd like to proofread (linked above)

[2016-07-01 19:26] ybur-yug commented on #531
Handled in #534 (closed #532 to include all model guide updates in one PR)

[2016-07-06 22:20] istok20 opened #536 "Chan.join(…).receive(…).receive(…).receive(…).after is not a function"
why this code (from example of working code for phoenix <> ember websockets ) is not working?

[code]
I'm getting "chan.join(...).receive(...).receive(...).receive(...).after is not a function" error

If I use just one .receive - it works

[2016-07-07 09:42] #536 closed

[2016-07-14 04:34] keithn opened #540 "Security Guide"
Need a guide on security and authentication with Phoenix

[2016-07-15 12:19] schnittchen commented on #277
What are thoughts about going beyond phoenix' concepts inside web.ex? I'm just about to add a :mailers section which a new phoenix project just lacks, but I can also see people adding their own category of concept below web/ and consequently add a section to web.ex.

I've done similar things in the past in Rails with a lot of success.

[2016-07-15 12:22] schnittchen commented on #171
This leaves one problem open: When phoenix runs behind a reverse proxy, mailer urls will include a broken host:port combination.

I have this issue right now... next step source diving :)

[2016-07-15 12:32] josevalim commented on #171
@schnittchen there is a configuration in your endpoint that configures which URL want you want to generate. So if you are behind a reverse proxy, you should configure it to your actual host and port. Check your config/prod.exs and set:

[code]

[2016-07-15 12:38] schnittchen commented on #171
Thank you jose! Will try that and try to come up with a PR.

[2016-07-16 19:14] katgironpe opened #542 "Problem with using json guide"
It seems necessary enclose parameters within `()`:

[code]

I followed this and have:

[code]

But got undefined for `json`.

I changed it to:

[code]

It worked! I can confirm when I have time to create another app with the latest version of Phoenix.

[2016-07-16 19:18] katgironpe commented on #542
Seems like a different problem. Going to close for now.

[2016-07-16 19:18] #542 closed

[2016-07-16 20:30] ybur-yug commented on #540
@keithn these are really two different topics. Security is something with a currently open issue:

[Issue 531](https://github.com/phoenixframework/phoenix_guides/issues/531) is currently open to handle things such as parameter sanitization and its related pieces, relating to security.

For authentication, there is currently [another issue](https://github.com/phoenixframework/phoenix_guides/issues/

[2016-07-16 20:32] ybur-yug commented on #472
I could work on this one and get it up for review with the other batch of PR's I already have open if no ones stepped in on this one yet @Gazler

[2016-07-17 04:25] rstacruz commented on #542
are you using `|>` by any chance?

[code]

Parens will change what this evaluates to. That might be one reason why you got that error :)

[2016-07-17 07:02] katgironpe commented on #542
@rstacruz no I wasn't piping. But yes, there was something else wrong my code.

[2016-07-22 22:34] ybur-yug commented on #531
@Gazler or whomever would be the person good to close this, it is resolved with the merge of #534

[2016-07-22 22:35] ybur-yug commented on #530
This can be closed and was addressed in #534
(CC @Gazler or whomever would be good to close)

[2016-07-22 22:36] ybur-yug commented on #529
This also can be closed as of the merge of #534
(CC @Gazler or whomever would be good to close it)

PS sorry for blowing up your inbox with tags @Gazler I <3 you for reviewing :)

[2016-07-23 08:59] Gazler commented on #529
I meant to close these but totally forgot. Thanks for the reminder!

[2016-07-23 08:59] #529 closed

[2016-07-23 09:00] #531 closed

[2016-07-23 09:00] #530 closed

[2016-08-09 07:17] aerosol opened #551 "A warning note about defining scopes?"
Hi, spoke to @josevalim before opening this ticket.

If you use custom "namespacing" scheme and the scope's module prefix accidentally matches an existing module (e.g. a controller), the compiler gets a false hint about module cross references. With an app large enough, this can lead to a situation when saving a single eex template causes a massive and unnecessary recompilation. The problem is dif

[2016-08-09 08:14] josevalim commented on #551
Documented here: https://github.com/phoenixframework/phoenix/commit/2e32b8bb532d521af03c56f6f7a9ed14cb272ffb :)

[2016-08-09 08:14] #551 closed

[2016-08-10 07:13] sobolevn opened #552 "'File Uploads' guide improvement"
When dealing with phoenix it was not really clear for me at the first sight: how to store user uploaded files. There's no special folder or path defined for this.

Coming from `django`-world, there we have `media/` folder which is the default one.

Maybe [this guide](https://github.com/phoenixframework/phoenix_guides/blob/427021c900e18c22739c9b476a9b629215bc2c83/bonus_guides/H_file_uploads.md) cou

[2016-08-15 15:24] jsncmgs1 commented on #438
Is this being actively worked on?  If not, I can start this, and if it has been I'd like to help if needed.

[2016-08-15 18:31] jsncmgs1 commented on #438
I wrote up a draft to hopefully get this started:
https://github.com/jsncmgs1/phoenix_guides/blob/view_json_enhancement/E_views.md#rendering-json

[2016-08-15 20:57] jeregrine commented on #438
@jsncmgs1 first come first serve, please open a PR :-)

[2016-08-15 21:11] ybur-yug commented on #438
@jsncmgs1 I had a draft started but yours looks a lot better. Open the PR and I'd happily proofread + run any example code etc. :)

[2016-08-16 21:14] #442 closed

[2016-08-16 23:25] jsncmgs1 commented on #99
I'm going to start on a guide for Controller specs, specifically testing JSON responses.  I personally never write controller tests if I'm rendering templates (I write feature tests), so if someone else would like to tackle that chunk that would be great.  If not, I'll do it after I'm done with the JSON stuff.

Or perhaps the guide for testing non API controllers is a guide on features tests?

[2016-08-16 23:33] jsncmgs1 commented on #99
Also, I feel like we should have a task list so we have a goal to work toward for closing this:

- [ ] Controller Tests
- [ ] Feature Tests ??

Given that Models and Channels already have a guide, I feel like once we have these checked off that's the core of what people are generally testing, and other things like Routes, Mailers, can have their own issues.

[2016-08-17 04:46] kiaking opened #560 "Upgrading Guide are not present on the website"
There should be upgrade guide to v1.2 at [News page](http://www.phoenixframework.org/blog) but there isn't.

I would like to help but I have no idea how the website is being generated from this repo. Is there a way for me to contribute on this area?

[2016-08-17 14:51] jeregrine commented on #560
@kiaking if you have links to the missing guides I can update this afternoon. Otherwise I can find the links too :-)

[2016-08-17 15:41] kiaking commented on #560
@jeregrine Thx.

[This page](http://www.phoenixframework.org/blog) should have link to [this upgrade instruction](https://gist.github.com/chrismccord/29100e16d3990469c47f851e3142f766).

It would be better to have upgrade instruction embed in the former page as same as other upgrade instruction though.

[2016-08-17 19:35] jeregrine commented on #560
@kiaking done

[2016-08-17 19:35] #560 closed

[2016-08-17 19:35] jeregrine commented on #560
@kiaking Re-embedding, we're PROBABLY going to be moving/changing the guides hosting soonish.

[2016-08-18 01:52] kiaking commented on #560
Confirmed. Thank you for the work 👍

[2016-08-19 20:48] omin commented on #552
Do you find anything since you open this issue @sobolevn? I'm running into the same problem.

[2016-08-19 23:32] omin commented on #552
Here's a better solution.

Add the following to **app/lib/app/endpoint.ex**
[code]

and store the uploaded files at **/var/www/app/files/**

The files will be served at **localhost/files/**

You can learn more at https://hexdocs.pm/plug/Plug.Static.html

Also, using something like nginx to serve the files in production environment may be a better option depending on your requirements.

[2016-08-20 12:57] josevalim commented on #552
Excellent solution @omin. Please send a pull request to the guides about adding the Plug.Static configuration if you are storing the files somewhere else.

[2016-08-20 13:08] josevalim commented on #552
Actually, I just went ahead and  published some changes: if you have some feedback and more changes, please send a PR: https://github.com/phoenixframework/phoenix_guides/commit/d928b85d8d2a7eba37bcf6845bcdf3fc0012da98 :D Thank you for all the feedback!

[2016-08-20 13:08] #552 closed

[2016-08-20 18:59] omin commented on #552
Looks good! Quick question. Do you have a suggestion for generating unique filenames? `Plug.Upload` doesn't seemed to be using anything in the standard. Just thinking that having something like this would be useful https://msdn.microsoft.com/en-us/library/system.io.path.getrandomfilename(v=vs.110).aspx.

[2016-08-22 18:12] jsncmgs1 commented on #438
@jeregrine I forgot to add "closes" to the PR. Sorry!

[2016-08-22 18:30] jsncmgs1 commented on #320
I can take this if @jeregrine isn't to far into it.

[2016-08-22 19:34] jeregrine commented on #320
@jsncmgs1 please do!

[2016-08-22 19:35] #438 closed

[2016-08-23 13:53] jsncmgs1 commented on #320
@jeregrine @chrismccord I wrote up what I imagine would be a good starting point for this guide, but I'd like some guidance on what else should be in here, as I don't want to just recreate the docs.

https://github.com/jsncmgs1/phoenix_guides/commit/3ec1ebb8a50226acf13b95cfaf731fd6a5710108

[2016-08-24 14:56] jeregrine commented on #320
@jsncmgs1 I have one comment, but overall I think you should focus the guide more on "Running Tasks" and less specifically on Task.Supervisor.

Focusing more on what you are trying to solve, less on the solution.

I think you should also make a note that if the Task fails it won't be retried and any information sent to it will be lost.

[2016-08-24 14:56] jeregrine commented on #320
And possibly link to "task runners" or GenState for a system that might persist tasks and be more resilient to failure.

[2016-08-24 15:43] jsncmgs1 commented on #320
Cool, I'll take that advice and work on the next version.

[2016-08-25 00:44] Valentin-Seehausen commented on #560
Also this site, linked under the _Testing_ Section http://www.phoenixframework.org/docs/channels-1 should point to (my guess) https://github.com/phoenixframework/phoenix_guides/blob/master/testing/J_channels.md

Cool to see such an active community here!

[2016-08-27 07:31] dzjuck opened #572 "Wrong Testing/Channels link from nav bar"
Nav bar in [guides](http://www.phoenixframework.org/docs/overview) contains wrong link to Testing/Channels page http://www.phoenixframework.org/docs/channels-1 and it shows Guides/Channels page (http://www.phoenixframework.org/docs/channels), not page about testing.

I guess, problem rooted in same names of pages.
The repo doesn't contain nav bar generation logic, so i can't try to fix the problem

[2016-08-27 07:32] xuebingli commented on #124
@dmitrinesterenko has created the guide https://github.com/phoenixframework/phoenix_guides/pull/567

[2016-08-29 12:40] Triple-D opened #573 "Unable to make jQuery globally available when using npm."

[2016-08-29 14:09] Triple-D opened #574 "Is there a good explanation available about the npm install -> App.js require - semantics?"

[2016-09-01 18:14] ksolo opened #575 "Advanced Deployment Update"
When going through the [Advanced Deployment](http://www.phoenixframework.org/docs/advanced-deployment) Guide it references exrm, which based on the [Github repo](https://github.com/bitwalker/exrm), is being deprecated in favor of Distillery. I would love to help update this guide, however, I have limited experience with deploying Phoenix applications.

I'll open a PR unless anyone has already star

[2016-09-10 09:52] COLABORATI opened #581 "Please add a link to THIS repo on the guide pages"
Sorry, I posted a few issues to the main phoenix framework issue tracker - but there is a reason for this: on top of every guide page there is a link to the main phoenix repo, but _not_ to this repo.
I would like to suggest to add a link to _this_ repo on every guide page.

[2016-09-10 10:01] josevalim commented on #581
We could do like in Elixir guides and have a note at the top or at the end saying contributions are welcome with a link to this repo. :)

[2016-09-14 08:46] #573 closed

[2016-09-14 08:47] #574 closed

[2016-09-19 19:22] #447 closed

[2016-09-19 20:24] Gazler commented on #572
Fixed, thanks for the report!

[2016-09-19 20:24] #572 closed

[2016-09-20 00:12] courajs commented on #581
The link does appear, but only [at the bottom of the overview page](http://www.phoenixframework.org/docs/overview#section-a-note-about-these-guides). I agree it would be better in the footer of every guide page.

[2016-09-24 13:42] EyMaddis opened #585 "make the whole guides available on GitHub (including rendering)"
This repo only includes the "raw" markdown files, which is nice, but I would like to restyle the actual pages on http://www.phoenixframework.org/docs/.

Especially I would like to do the following:

* add a table of contents for each page
* tweak the css a bit for improved readability (e.g. highlighting headings)
* add syntax highlighting

I think a great example for this are the Ember guides:

re

[2016-09-24 17:15] EyMaddis commented on #585
I just noticed that this issue might be closable because of https://github.com/phoenixframework/phoenix_guides/issues/391.

[2016-09-25 16:50] jeregrine commented on #585
@EyMaddis this is timely because we are working towards doing this now. I will post any updates as we get closer.

[2016-09-25 16:50] #585 closed

[2016-09-26 19:56] Gazler opened #586 "Remove letters from the guide filenames"

[2016-09-26 20:03] Gazler commented on #391
@wsmoak Great news! After months (nearly a year) of deliberation, it has been resolved that the dependency technique you outlined is the way to proceed with these guides.

Since you have pretty much done everything we need, it would be awesome if you could open up a PR with the guides as an Elixir application so that we can include it in Phoenix. If this is something that you don't have time for a

[2016-09-28 22:20] dansmog opened #588 "ERROR: running mix phoenix.server, failed to connect (invalid_catalog_name): database does not exist"
so i needed to work with a phoenix app api endpoint, following the process cos i had to clone the project.

i followed these steps

    Install dependencies with mix deps.get
    Create and migrate your database with mix ecto.reset
    Start Phoenix endpoint with mix phoenix.server

then i started getting errors of no database and invalid catalog name when i run mix phoenix.server
![screenshot fro

[2016-09-29 07:41] Gazler commented on #588
The error states that `mix ecto.reset` could not be found.

This was added to the installer in phoenix 1.0.3 - any version prior to this will not have the required alias in the mix.exs file.

Either copy the aliases from this commit https://github.com/phoenixframework/phoenix/commit/502e06b521b014c6423fbd26859c21b2057fb23c to your mix.exs file or run:

    mix do ecto.create, ecto.migrate

[2016-09-29 07:41] #588 closed

[2016-10-05 19:43] romul opened #591 "Dropdown list with versions on http://www.phoenixframework.org/"
I'm not sure, where should I post this issue. But I think, versions order should be changed to display the most recent releases instead of the first ones:
![](https://api.monosnap.com/rpc/file/download?id=ih67UBphHaFJLkHZz1IPKmV0cDUWEV)

[2016-10-05 20:23] jeregrine commented on #591
@romul this will be going away soon.

[2016-10-05 20:23] #591 closed

[2016-10-09 19:49] wsmoak commented on #391
I missed this comment until someone pointed it out to me on Slack just now.  Give me a few days to refresh my memory on what I was doing here...

[2016-10-10 00:32] wsmoak commented on #391
... or a few hours. :)  Let me know what you think on https://github.com/phoenixframework/phoenix/pull/1960 .

[2016-10-22 17:49] wsmoak commented on #391
Update: @Gazler has re-arranged and renamed the files in here phoenix_guides (see the ex_doc branch) and there is a new mix.exs file that allows you to 'preview' by generating the html for all the *.md files under docs.

It does not do the sub-menus, because that would mean duplicating all of the config that is already in the (proposed) phoenixframework/phoenix mix.exs (See https://github.com/phoe

[2016-10-22 18:29] willykaram commented on #391
Thanks @wsmoak and @Gazler for moving this forward. As mentioned back in May, I'm available if there's to assist with this if possible, so please LMK if there's anything I can do to assist.

[2016-10-23 20:35] arashm opened #605 "Duplicate content on "Adding Pages" page"
On the website guide, document for [Adding Pages](http://www.phoenixframework.org/docs/adding-pages), after the first "Play around a bit. Whatever you put after..." line, everything is repeated from the previous part.

[2016-10-23 22:46] wsmoak commented on #391
You're welcome to jump in @willykaram .  If you're working on content at worst you may have to rebase and fix conflicts or copy it over, since as you can see on the branch, the files have been moved and renamed.

There isn't a task list, we're just figuring things out as we go. :)

Today I was investigating how to publish the docs to see if there would be any changes to the release process, and to

[2016-10-24 07:34] Gazler commented on #605
Good spot, fixed. Thanks <3

[2016-10-24 07:34] #605 closed

[2016-10-24 14:09] mfeckie opened #606 "Interested in details for using systemd with deploys?"
The guides as it stands only has an example for using upstart http://www.phoenixframework.org/docs/advanced-deployment#section-making-our-application-public

Upstart is getting less common with Ubuntu and co moving more towards `systemd`.

I've just written a blog post about my experience converting across to systemd http://mfeckie.github.io/Phoenix-In-Production-With-Systemd/

Would you folks be

[2016-10-25 16:24] rasmus1610 opened #607 "Improve Model Relationship Guides"
I had a huge problem finding a proper example of how to build associations for models in the controller (build_assoc/3 and stuff). Defining the relationships in the model wasn't the problem but how to build the changeset with the associations was actually pretty hard for me as a newbie.

An improved guide on this topic would be awesome. It doesn't really cover it right now.

I'm happy to contribut

[2016-10-30 16:38] wsmoak commented on #391
What's left to do before phoenix_guides/master can be 'switched over' to the new built-with-ex_doc docs?

I've done the infrastructure part, getting the mix.exs files to do what they need to do.

I assume this is targeted to happen before Phoenix 1.3 is released. It would be good to make the switch soon so that it's easier for others to contribute.

[2016-11-01 08:31] Gazler commented on #391
@wsmoak Is http://wsmoak.net/phoenix/overview.html the latest version?

I think the main thing is to go through the guides, checking the formatting and updating URLs so they no longer point to phoenixframework.org and link internally instead. I am happy to do this.

[2016-11-02 02:14] wsmoak commented on #391
I published the preview docs right before I commented, so it's fairly recent.

I agree the formatting and urls need to be fixed, but do we want to do that on the branch?  Other changes have already been merged into master so it just seems like that's asking for conflicts.

Plus if it's on master then it's much easier for everyone else to help.  (Getting set up to build the docs from the branches i

[2016-11-02 08:36] #586 closed

[2016-11-02 08:37] Gazler commented on #391
@wsmoak Great points, there is nothing preventing merging before changing the formatting. I have pushed up the changes in the `ex_doc` branch to master.

[2016-11-03 00:32] wsmoak commented on #391
Thanks for merging the changes into master, @Gazler .  Almost there!

I updated https://github.com/phoenixframework/phoenix/pull/1960 and asked for comments.

 http://wsmoak.net/phoenix/ is the latest (at  4ec8022 ).

[2016-11-06 13:12] jaysoifer opened #612 "Heroku issue: could not load config config/prod.secret.exs"
Hi,

I just followed the Heroku part of the guide step by step, which means:

1. "secret key is loaded from Heroku's environment variables instead of `config/prod.secret.exs`".
2. I've deleted "the following line: `import_config "prod.secret.exs"`" from `config/prod.exs`.

When deploying to Heroku (`git push heroku master`) I'm getting a:
`remote: ** (Mix.Config.LoadError) could not load config co

[2016-11-06 13:17] ericmj commented on #612
You probably did some mistake, for example forgetting to commit the file. When asking questions about errors please include the full error so it's easier to help you.

[2016-11-06 13:57] jaysoifer commented on #612
You're right, just fixed it.

I am working on a "heroku" local branch and was trying to do a `git push heroku master`.

Switched to `git push heroku heroku:master` and it worked.

Thank you anyway.

[2016-11-06 13:57] #612 closed

[2016-11-06 18:01] Gazler opened #613 "Include watcher script for building the docs"
@wsmoak @phoenixframework/phoenix-docs

I was thinking of adding something like this, to either the README, as a separate shell script, or as a mix task:

[code]

Thoughts?

[2016-11-06 20:34] lpil commented on #613
Sounds like a good idea to me.

[2016-11-06 20:39] lpil opened #615 "Markdown newlines preserved as <br> tags in compiled HTML"
Hiya

It seems that the compiled HTML is erroneously preserving line breaks in the markdown by converting them to `<br>` tags when compiled to HTML.

This is resulting in some [rather funky formatting in places](http://www.phoenixframework.org/docs/sending-email#section-sending-email-with-smtp).

I had a little look round but I can't see where this could be fixed as this repo seems to be without c

[2016-11-07 02:15] chrismccord commented on #613
@Gazler 👍 and let's wrap it in a mix task `mix docs.watch` ? Also, we can print a helpful based on  System.find_executable

[2016-11-07 03:12] dummey commented on #372
For anybody who arrives here from google, syntax in the guide will be achieved via #391

[2016-11-07 05:06] dummey opened #616 "Standardize on Markdown for Lists"
With the recent move to ex_doc, there are lists that are no longer rendering correctly.

Example: phoenix_guides/docs/introduction/overview.md

The problem lies in the use of 2 spaces for indentation with lists. The default for ex_doc?(or earmark?) seems to want a tab or 4 spaces.

It should probably be decided on as to which style should be used.

[2016-11-07 08:47] Gazler commented on #615
@lpil There were two pages with this error, emails and channel testing (probably ones I updated yesterday.) It appears readme.io treats new lines in the markdown as line breaks instead of the usual `  ` at the end of the line.

Let me know if you see any other pages with this issue. This will no longer be an issue when we switch to hosting the guides on hexdocs.

[2016-11-07 08:47] #615 closed

[2016-11-07 08:54] Gazler opened #618 "Change logo to match the logo from phoenix guides"
Please see https://github.com/phoenixframework/phoenix_guides/pull/595#issuecomment-258698049

https://github.com/phoenixframework/phoenix/blob/master/logo.png

The file can be saved in the root as logo.png

[2016-11-07 09:09] lpil commented on #615
Thanks :)

[2016-11-11 21:19] ybur-yug opened #621 "Umbrella Guides (1.3+ and future)?"
With the addition on master of `mix phx.new --umbrella`, will this become the new standard for creating applications from the start in the guides?

If this hasn't already been started or addressed, if it is the call to do umbrellas, I'm working on one right now already and though the generators are still being worked on [here](https://github.com/phoenixframework/phoenix/pull/1927), the rest of the

[2016-11-12 17:31] Gazler commented on #621
I am not sure if making umbrella applications the default for the guides will introduce additional complexity. It is another thing for people who are new to Elixir to grasp. However I do think that umbrella applications are the correct way to structure things and think we should be pushing people to the correct structure for their applications.

We should at minimum have a section/page on umbrella

[2016-11-12 17:32] #613 closed

[2016-11-12 23:44] #621 closed

[2016-11-12 23:59] wsmoak commented on #391
... and it's all merged on the Phoenix side, so `mix docs` in the phoenixframework/phoenix repo will build both the guides and the API docs.  (it defaults to MIX_ENV=docs, you don't need to include that.)

I think this one can be closed.

In summary, the guides were not merged as requested in the issue title, they are included as a mix dependency.  You can either build the guides + api docs from t

[2016-11-13 00:16] wsmoak opened #623 "Produce epub version of Guides and API docs"
Now that the guides are included with the API docs, and ExDoc has epub support, should we configure the build so that both html and epub are produced?

Here's a preview:  http://wsmoak.net/phoenix/Phoenix-v1.3.0-dev.epub  (It's not picking up the page titles of the 'extras' for the table of contents.  Not sure if that's a bug.)

It currently takes two steps:  `mix docs` and then `mix docs -f epub`

[2016-11-18 01:34] wsmoak commented on #623
@milmazz if you have time, do you have any insight on why the epub for the phoenix docs doesn't have 'chapter titles' in the table of contents for the 'extras' pages?

This is with `mix docs -f epub` in the phoenixframework/phoenix project, so that it builds both the API docs _and_ the guides together.

It looks like this:

![phoenix-epub-toc](https://cloud.githubusercontent.com/assets/20140/20415

[2016-11-18 03:33] milmazz commented on #623
@wsmoak I already reproduce the error. So, let me find out what is happening here. I'll let you know asap, thanks for the report and for trying this new feature :)

[2016-11-18 04:27] milmazz commented on #623
@wsmoak First fix :)

![screen shot 2016-11-17 at 10 25 06 pm](https://cloud.githubusercontent.com/assets/34700/20418585/c9c6b54c-ad14-11e6-9fbc-b266ae63f48d.png)

[2016-11-18 08:32] josevalim commented on #623
@milmazz beautiful. Do you think we can use the newly added :group attribute on epub too? It would be nice if the table of contents looked like:

[code]

But I am not sure if that is possible.

[2016-11-18 08:42] #391 closed

[2016-11-18 15:20] wsmoak commented on #623
Thanks @milmazz and @josevalim !  I switched to ex_doc master and updated the ref to the latest phoenix_guides, here is what it looks like now:   http://wsmoak.net/phoenix/Phoenix-v1.3.0-dev.epub

The two-digit numbers on the first page are cut off a bit on the left.

Speaking of numbers, they were dropped from the left menu in the HTML view on the theory that if people want them, they will put th

[2016-11-18 16:01] josevalim commented on #623
@wsmoak I have added support for multiple formatters by setting `docs: [formatters: ["html", "epub"]]`.

[2016-11-18 16:13] milmazz commented on #623
@josevalim Yes, I think that would we nice, I'll work on that.

@wsmoak What about to center the content on the first page, it will look better? WDYT?

@wsmoak No problem, that's easy to change :)

@wsmoak Right now each title should follow this format:

[code]

[2016-11-18 23:31] wsmoak commented on #623
It looks great!  No more numbers, chapter titles are there, and no more duplicate page titles.

@milmazz by 'title page' I meant the very first page of the document.  Right now if you 'page up' all the way to the front of the doc, you are on "Table of contents" and the only place it says Phoenix is in the title bar.

IMO, no, I wouldn't center the items in the TOC.  Left aligned bullets look bette

[2016-12-07 19:41] jbodah opened #630 "Stale link in Routing explanation"
[This page](http://www.phoenixframework.org/v0.7.2/docs/routing#section-the-before-pipeline) references the `:before` pipeline from [the Phoenix router documentation](https://hexdocs.pm/phoenix/Phoenix.Router.html) however the quoted pipeline is not in the router documentation

[2016-12-10 23:32] scouten opened #631 "Channels guide is a bit ambiguous about the scope of assigns"
On the page http://www.phoenixframework.org/docs/channels, the term "channel socket" is used a couple of times but is not well defined. Specifically, the distinction between the overall *connection* and the channel socket is fuzzy.

I was just burned by assuming that a value assigned to a socket via `Phoenix.Socket.assign/3` would be visible when joining another channel. (Spoiler alert: It's not.)

[2016-12-15 02:02] willykaram commented on #376
@jeregrine @lancehalvorsen  just following up on this issue to see if there's anything we can do to advance or update the guide, or whether we could try to wrap this up and close the issue?

[2016-12-18 17:14] #618 closed

[2017-01-01 17:20] JanStevens opened #638 "Update docs to use distillery instead of exrm"
The guides use exrm which is deprecated in favour of Distillery.

Let's upgrade the guide to use Distillery

Reference: https://github.com/bitwalker/exrm#news

[2017-01-05 16:06] LTheGreats opened #641 "guides are blank"
I went to the phoenix website then I selected the guides and I selected getting started, but it was blank. Then I selected a bunch of other guides but they were all blank!

[2017-01-05 16:33] ericmj commented on #641
Are you talking about these guides http://www.phoenixframework.org/docs/overview? They are not blank for me, maybe there is some kind of styling issue with your browser?

[2017-01-07 06:11] LTheGreats commented on #641
I switched to a different browser and saw that they were not blank so it must have been some sort of styling issue in my browser.

[2017-01-07 06:11] #641 closed

[2017-01-08 07:22] aphillipo opened #642 "Dockerized Phoenix/Elixir and Postgres Guide"
Is anyone interested and or working on a full Docker for Dev -> CI -> Production.

I can write this as I have just finished doing it.  With different docker files for each Dev, Test, CI, Prod and a base image that's shared.

You type:

VERSION=1.1.2 MIX_ENV=dev docker-compose up --build

For example and it'll run the dev server.

Also includes Docker compose and possible deployment strategies (i.e

[2017-01-10 12:13] djKooks opened #644 "Translation support"
Hello~I'm newbee in phoenix! Hope to learn more about it.
Is there some plan of document translation? If there is, I want to join it.

[2017-01-11 17:14] Ch4s3 commented on #642
That might be nice

[2017-01-11 17:18] Ch4s3 commented on #630
Looks like the old version of the docs page points to the latest version of the hex docs.

[2017-01-14 14:59] aljachimiak opened #645 ""Frank" is missing from web guide"
On the bottom of the [adding-pages](http://www.phoenixframework.org/docs/adding-pages) page, the image is incorrect.  It says "Phoenix" instead of "Frank".

After a little poking, [the page in this repo](https://github.com/phoenixframework/phoenix_guides/blob/master/docs/adding_pages.md) that corresponds with the page I just mentioned, seems to have the correct image in place (It mentions Frank).

[2017-01-27 14:21] niels commented on #638
+1; but this is a duplicate of #575.

[2017-01-27 14:29] niels commented on #575
Note that distillery itself already contains some documentation around Phoenix deployments: https://hexdocs.pm/distillery/use-with-phoenix.html.

[2017-01-27 23:38] cheapsteak opened #648 "Please improve mobile experience"
The site looks beautiful on desktop, but trying to read the guides on a phone is currently not as pleasant an experience

[2017-01-28 09:13] JunpeiAnzai opened #649 "Screenshot is missing"
At Adding Pages, Section "A New Template"
http://www.phoenixframework.org/docs/adding-pages#section-a-new-template
![image](https://cloud.githubusercontent.com/assets/2715745/22395544/43d776fc-e585-11e6-8568-29ff6c121ef7.png)

[2017-01-28 09:34] JunpeiAnzai opened #650 "Anchors of Section Header is not unique"
In [Adding Pages](http://www.phoenixframework.org/docs/adding-pages), there are two section headers pairs named "A New Route" and "A New Template".

These pairs have same link anchors (#section-a-new-route, #section-a-new-template), and always jump to former anchor by clicking.

In case of Github markdown, anchors are generated in order to be unique, but readme.io is maybe not.

[2017-01-28 20:50] phil-r commented on #649
Also last screenshot is wrong.

But in [/docs/adding_pages.md](https://github.com/phoenixframework/phoenix_guides/blob/master/docs/adding_pages.md) everything looks ok.

[2017-02-03 07:19] JunpeiAnzai commented on #649
I noticed http://www.phoenixframework.org/docs/ is not up to date(another example: [/docs/testing/testing.md](/phoenixframework/phoenix_guides/blob/master/docs/testing/testing.md) and http://www.phoenixframework.org/docs/introduction )

So, github-side is no problem, it mey be not issue.

[2017-02-03 07:19] #649 closed

[2017-02-03 13:40] Fnux opened #651 "Broken link in the "Controllers" guide"
In [Setting the Content Type](http://www.phoenixframework.org/docs/controllers#section-setting-the-content-type) :

=> https://github.com/elixir-lang/plug/blob/master/lib/plug/mime.types returns 404.

[2017-02-15 17:44] hvnsweeting opened #654 "Wrong image in adding-pages"
https://github.com/phoenixframework/phoenix_guides/blob/master/docs/adding_pages.md

This shown the IMG at bottom "from Frank"

Site shows "from Phoenix" http://www.phoenixframework.org/docs/adding-pages

[code]

[2017-02-22 11:35] nhooyr opened #658 "broken link in controllers guide"
http://www.phoenixframework.org/docs/controllers#section-setting-the-content-type

I'm not sure where `mime.types` documentation is now. What should this link be changed to point towards?

[2017-02-22 11:42] nhooyr opened #659 "links to github should include the commit"
In http://www.phoenixframework.org/docs/controllers#section-setting-the-http-status the link to the status codes is out of sync because it did not link to the commit as well.

[2017-02-22 11:51] nhooyr opened #660 "why alias the router helpers, isn't that the default?"
in http://www.phoenixframework.org/docs/controllers#section-redirection it says

[code]

By helpers, it is talking about `MyProject.Router.Helpers`. That is already aliased by default in the controllers, what is this statement talking about? And why alias in `router.ex` if we are using it in controllers?

[2017-02-23 05:57] EduardoBautista commented on #658
Found it for you :)

https://github.com/elixir-lang/mime/blob/master/lib/mime.types

But yeah, the documentation is now out of date and no one seems to be maintaining it.

[2017-02-23 06:00] EduardoBautista commented on #658
The docs in this repo is a bit more up to date.

[2017-02-23 12:30] nhooyr commented on #658
Thanks!

[2017-02-23 12:30] #658 closed

[2017-02-23 15:47] EduardoBautista commented on #651
Hi @Fnux :)

You can find the current link in the repo, which is more up to the date than the website.  Here is the link in case you still need it:

http://www.phoenixframework.org/docs/controllers#section-setting-the-content-type

[2017-03-02 19:01] Ingramz commented on #654
This is a duplicate of #645

[2017-03-04 19:35] chrisarcand opened #663 "Docs contributing"
I'm new to both Elixir and using Phoenix, so bear with me if I'm missing a lot of common knowledge with running Elixir applications.

The first thing I do when I try out a new thing is make sure to contribute to the documentation, because having 'fresh eyes' as a newcomer to a project is something you only get to truly experience once. However, I've found contributing to these guides fairly frustr

[2017-03-13 17:09] EduardoBautista commented on #663
I think the best approach here would be to just fork this and take over the guides.

[2017-03-13 23:46] Gazler commented on #660
I believe it should say `web.ex`. However I think the statement could be deleted since the alias is generated in web.ex by default.

[2017-03-13 23:56] #320 closed

[2017-03-16 12:29] tomfbiz commented on #645
It looks like this may be fixed but not deployed? This image (and the image further up the page, on line 60, which is getting a 404), are both working correctly in the md version:
https://github.com/tomfbiz/phoenix_guides/blob/master/docs/adding_pages.md

One strange thing I noticed is that these lines have not been changed in master since 2014, maybe that is a clue.

[2017-03-20 09:05] #660 closed

[2017-03-22 12:07] mbuhot opened #669 "Version switcher only shows oldest 10 versions"
The version switcher shows version v0.6.1 through to v0.13.1, but to actually get to relevant versions of the docs, I have to click "View all versions".

Ideally it should show the 10 most recent versions in descending order.

[2017-03-22 12:21] nekath commented on #669
Duplication of:
- https://github.com/phoenixframework/phoenix_guides/issues/591
- https://github.com/phoenixframework/phoenix_guides/issues/663

@mbuhot Dropdown will be removed. All guides and docs will be moved to ex_doc.

For explanation see:
https://github.com/phoenixframework/phoenix/issues/1460#issuecomment-284527888

[2017-03-22 22:35] mbuhot commented on #669
👍 sorry for the dup.

[2017-03-22 22:35] #669 closed

[2017-04-01 02:10] tsubery opened #671 "Heroku guide deployment missing secret_key_base"
I followed the [heroku deployment guide](http://www.phoenixframework.org/docs/heroku) and didn't my app got similar error like [this](http://stackoverflow.com/questions/43131515/deploy-phoenix-application-in-heroku-but-result-in-application-error/43152038). Seems like something has changed in the buildpack but I don't have enough experience with heroku or their build-packs to debug it.

[2017-04-04 12:35] huyz commented on #442
Funny, I saw the `...` and wondered if this was just a documentation artifact or if it had special meaning in Phoenix/Elixir.   Someone on Slack pointed me to this page.  It would have been clearer if the guide mentioned that `...` means that some code was omitted for the sake of brevity.

[2017-04-04 14:55] henrik commented on #442
@huyz Can totally see how one would think that. Maybe we could replace `, do: ...` with something syntactically valid like `, do: "…implementation…"`?

[2017-04-04 20:14] sngeth commented on #671
Apparently this has to do with mix.exs format(thus your development elixir version) and elixir version used by the buildpack from a followup link in your SO post: https://elixirforum.com/t/deploy-phoenix-application-in-heroku-but-result-in-application-error/4394/4

I.e. If you bootstrapped your app with 1.3.x it will have explicit application dependencies listed in the application function in mix.

[2017-04-04 20:20] tsubery commented on #671
Such a small world. Let me know if I want my help solving or testing this.

[2017-04-04 20:24] sngeth commented on #671
Whats your mix.exs look like and whats your  mix phoenix.new -v
Phoenix v1.2.1 output?

I think i made of conflated that the error is with Mix and not Phoenix's generated mix.exs file

[2017-04-04 20:28] tsubery commented on #671
mix.exs
[code]

I have a bunch of elixir/phoenix versions installed so not sure if ```mix phoenix.new -v``` is relevant. If my memory serves me right, I used the one from master about couple of weeks ago.

[2017-04-04 20:42] sngeth commented on #671
Ok yeah everything makes sense like i thought.

Since you used master, the generator is now `mix phx.new` which is Phoenix 1.3.x

I just confirmed that master branch generates a Elixir/Mix 1.4 style mix file for phoenix projects and when i do mix phoenix.new (v1.2 archive) it uses a Elixir/Mix 1.3 style with explicit application dependencies.

So you basically have two options:
1st option seems ea

[2017-04-05 20:17] tsubery commented on #671
I think there was some misunderstanding. My problem has to do with missing SECRET_KEY_BASE in compile environment. When I hardcode it the problem is gone and when I use ```Map.fetch!(System.get_env(), "SECRET_KEY_BASE")``` in config.exs, I get exception because the value is missing.

[2017-04-05 20:30] #671 closed

[2017-04-05 20:58] sngeth commented on #671
Cool very interesting. But it is related to Phoenix version at all? I deployed my own app 1.2 app and could not reproduce https://github.com/sngeth/url_shot which uses system env variable for the secret.

[2017-04-05 21:08] tsubery commented on #671
That's a good question, is it possible you have environment variables set in the buildpack configuration?
They removed that from the docs recently but you may have followed in it's previous version.

If anyone encounteres the same problem. I opened a [PR](https://github.com/gjaldon/heroku-buildpack-phoenix-static/pull/60) making phoenix build pack behave like elixir buildpack and export all enviro

[2017-04-06 04:16] eliask commented on #575
I was following the Phoenix guide and hit some problems with exrm with the default settings.
Distillery worked though, so better just not reference exrm in favour of distillery.

[2017-04-06 22:13] germsvel commented on #651
Just following the train of thought, I believe Eduardo meant to post this link:

https://github.com/phoenixframework/phoenix_guides/blob/master/docs/controllers.md#setting-the-content-type

[2017-04-09 23:54] EduardoBautista commented on #651
@germsvel Ah sorry!  Yes, that is the correct link.

[2017-04-10 02:52] willykaram commented on #663
@chrisarcand thanks for the feedback and sorry to hear that you're finding contributing to the guide a bit frustrating. I made some small contributions over the last year or two. But unfortunately, I wasn't able to contribute much since then as things at work ramped up.

That said, I'm going to be resuming my contribution efforts on the guides. I'm going to be making a  big push to help @Gazler wi

[2017-04-10 14:36] Fnux commented on #651
Thank you! I guess we can close the issue since it's fixed in the repo.

(Can someone update the website... ?)

[2017-04-11 03:55] willykaram commented on #659
@nhooyr thanks for pointing this out. Could you be more precise about which link/text you mean? I took a quick look at the guide, and it appears that though the "mime.types" link is broken and may be pointing to an invalid URL:

   https://github.com/elixir-lang/plug/blob/master/lib/plug/mime.types

I that the link you were referring too.

Would you possibly be able to submit a pull request sugges

[2017-04-11 03:58] nhooyr commented on #659
@willykaram ctrl+f "friendly names". That is the link. If you scroll down, you will see that it does not outline all of the status codes because it is now out of sync. I could review yours no problem.

[2017-04-11 04:03] willykaram commented on #472
@ybur-yug Did you still want to try and assist with this issue?

[2017-04-11 16:06] willykaram commented on #277
@schnittchen sorry for not replying to the comment above, but I didn't see it until now. I'm not sure about that suggestion, as I'm not very familiar with the concepts that you mentioned. Do you perhaps want to create a draft write-up/PR of what you have in mind and myself or someone else could review?

[2017-04-19 08:09] #575 closed

[2017-04-29 06:38] rakr commented on #663
Beginner with both Elixir and Phoenix, I'm trying to document my learnings as much as possible, happy to create contribute on a "Phoenix for Dummies" kind of section

[2017-05-12 02:30] nucleartide opened #677 "Mobile view is not "zoomed in""
Hello,

I'm new to Phoenix and I've been reading the Phoenix guides during my commute (which means reading the guides on an iPhone 😄 ). It seems like the guides are missing a `<meta name="viewport">` tag, which makes the mobile view look zoomed out:

![screen shot 2017-05-11 at 10 26 15 pm](https://cloud.githubusercontent.com/assets/914228/25979853/e646831a-3698-11e7-828a-5475699616f1.png)

It see

[2017-05-12 08:59] Gazler commented on #648
Closing in favour of #677

[2017-05-12 08:59] #648 closed

[2017-05-12 09:02] Gazler commented on #677
Thanks for raising this. The guides are currently hosted at http://readme.io/ however when version 1.3 arrives, we will be switching over to hexdocs for the guides. You can read more about this change at https://github.com/phoenixframework/phoenix_guides/issues/391

[2017-05-15 21:33] chrismccord opened #680 "Guides overhaul"
It's time to pay down my guides debt with a review and overhaul of the guides and much needed TLC.

cc @Gazler, @willykaram, @jeregrine

Here's a shortlist to get us 1.3.0 stable ready. I'm marking the ones that I'm claiming, but others are up for grab if folks have bandwidth on refreshing the existing guides:

* [x] Existing* guides in need of a refresh to include new features and latest conventi

[2017-05-15 22:40] lizvdk commented on #680
I can update _Up And Running._

[2017-05-16 02:17] chrisarcand commented on #680
To add: Add more content related to how to how newbies can contribute to the *guides* (not the framework), etc., probably to do after moving to hexdocs.

[2017-05-16 02:17] chrisarcand commented on #663
Closing this in favor of adding it to the items included in https://github.com/phoenixframework/phoenix_guides/issues/680. Thanks @chrismccord

[2017-05-16 02:17] #663 closed

[2017-05-16 12:06] willykaram commented on #680
@chrismccord thanks for making the time for this, I can commit to working on this daily to help move it forward and keep a pulse on things as we progress. Should we start by working through the existing guides, and perhaps limiting our approach to one issue per guide/bullet point you've listed here? That would be 12 issues, and manageable. We could then start to divide them amongst those who are i

[2017-05-16 12:09] willykaram commented on #680
@lizvdk sounds good, I can work with you on the Up and Running guide revisions, and if you prep draft PR, I can help to review that in order to get it ready for the Phoenix team members to review.

[2017-05-16 12:10] willykaram commented on #680
@chrisarcand I think that those sort of revisions would most likely go into this the Contributing page: https://github.com/phoenixframework/phoenix_guides/blob/master/CONTRIBUTING.md

[2017-05-16 13:26] lizvdk commented on #663
As a (hopefully) new contributor, I suggest that details about the 2-step review process mentioned by @willykaram [here](https://github.com/phoenixframework/phoenix_guides/issues/680#issuecomment-301762082) be added to [CONTRIBUTING.md](https://github.com/phoenixframework/phoenix_guides/blob/master/CONTRIBUTING.md).

[2017-05-16 14:07] willykaram commented on #663
@lizvdk thanks, that a good suggestion. Although can we hold off on making that change to the guide or at least submitting the PR? I'm also a relatively new contributor/not a member of the Phoenix team (I've only created few guides/edits so far), so I was was thinking it would just be helpful to do some peer review amongst ourselves before submitting a PR to the Phoenix team, so as to be efficient

[2017-05-16 20:15] Gazler commented on #663
@willykaram @lizvdk I don't think we need anything formal just now. Anyone  can start a review based from a pull request on GitHub, so feel free to use that facility.

[2017-05-16 20:50] Gazler commented on #680
In terms of deployment, we now point to Distillery in https://github.com/phoenixframework/phoenix_guides/blob/master/docs/deployment/deployment.md#introduction-to-deployment - that page may need some updates, but we already link off to distillery as they have a guide https://hexdocs.pm/distillery/use-with-phoenix.html#content

[2017-05-17 12:38] heatherm commented on #680
@willykaram happy to help. Which section can I take?

[2017-05-17 14:07] chrismccord commented on #680
@heatherm Installation refresh would be a good one to start with. Thanks!

[2017-05-17 14:08] chrismccord commented on #680
@Gazler if Distillery has a guide then we can piggy back off that and make sure to include phoenix relevant bits that they may be missing. Given that, we can also kill off the exrm guide.

[2017-05-17 14:18] #677 closed

[2017-05-17 14:19] chrismccord commented on #654
This will be fixed in the guides overhaul. Thanks!

[2017-05-17 14:19] #654 closed

[2017-05-17 14:20] chrismccord commented on #645
Once this goes up on hexdocs this will be fixed. Thanks!

[2017-05-17 14:20] #645 closed

[2017-05-17 14:21] chrismccord commented on #650
This was a result of the readme hosting, which will be fixed when we moved things over to hexdocs. Thanks!

[2017-05-17 14:21] #650 closed

[2017-05-17 14:22] chrismccord commented on #644
We don't have any immediate plans on translation, and I'm not sure how that would factor in to hexdocs. We're in the start of a large guides overhaul, so an effort around translation would need to wait until the dust settles. Thanks!

[2017-05-17 14:22] #644 closed

[2017-05-17 14:23] #616 closed

[2017-05-17 14:24] #525 closed

[2017-05-17 14:25] chrismccord commented on #124
We can work the endpoint discussion when talking about routing and the plug pipeline

[2017-05-17 14:25] #124 closed

[2017-05-17 19:48] ybur-yug commented on #472
@willykaram sorry I just got back from vacation and have been prepping for a conference so I got way behind in notifications. I would be happy to and also commented in the bigger guides-overhaul issue.

[2017-05-29 13:20] decentname opened #692 "CSRF Protection in Phoenix and Angular App"
I have an Angular App for which i intend to use Phoenix as backend. Phoenix supports CSRF protection by default where the CSRF token is stored to session. This works fine when Phoenix is rendering views, but how do i get access to CSRF token when my front end is built using Angular js.